<template>
    <div class="d-flex flex-column bg-white h-100" style="border-top-right-radius:10px;">
        <div class="p-2 text-white position-relative " :style="`border-top-right-radius:10px;background: ${colors[data.weaponDetail? data.weaponDetail.detail.weapon_rarity : 4]};`">
            <div class="d-flex align-items-center">
                <div class="d-flex align-items-center"><i class="bx bx-trophy mb-0 mr-1" style="font-size:18px" />{{data.weaponDetail? data.weaponDetail.detail.weapon_name : ''}}</div>
                <i :class="`bx bx-${data.lock ? 'lock bg-danger' : 'lock-open-alt bg-secondary'} rounded-circle border-white ml-auto`" :style="`font-size:18px;padding:.2em;z-index:9`" />
            </div> 
            <div class="display-4 text-white mb-0 font-weight-bolder">Lv.{{data.level}}/90</div>
            <div class="h2 text-white mb-0 font-weight-bolder">Refinement {{data.refinement}}</div>
            <img v-if="data.weaponDetail" :src="data.weaponDetail.detail.weapon_icon" style="max-width:180px;bottom:0;right:15px" class="w-100 position-absolute" />
            <img v-else src="http://www.boc.web.id/wp-content/plugins/photonic/include/images/placeholder.png" style="max-width:180px;bottom:0;right:15px" class="w-100 position-absolute" />
            <div class="d-flex align-items-center justify-content-between flex-wrap">
                <star-rating class="mr-auto" :star-size="30" :show-rating="false" read-only :rating="data.weaponDetail? data.weaponDetail.detail.weapon_rarity : 4" :max-rating="5" /> 
            </div>
        </div>
        <div class="text-white d-flex px-2 py-1" style="margin-top:.5em">
            <h5 class="mb-0">{{data.weaponDetail? data.weaponDetail.detail.main_stat.eqstat_name : ''}}</h5>
            <h5 class="mb-0 ml-auto font-weight-bolder">
                {{data.weaponDetail? data.weaponDetail.levels[data.level].weaplvls_main_statvalue : ''}}
                {{data.weaponDetail? data.weaponDetail.detail.main_stat.eqstat_is_percentage  ? '%' : '' : ''}}
            </h5>
        </div>
        <div class="text-white d-flex px-2 mb-1">
            <h5 class="mb-0">{{data.weaponDetail? data.weaponDetail.detail.sub_stat.eqstat_name : ''}}</h5>
            <h5 class="mb-0 ml-auto font-weight-bolder">
                {{data.weaponDetail? data.weaponDetail.levels[data.level].weaplvls_sub_statvalue : ''}}
                {{data.weaponDetail? data.weaponDetail.detail.sub_stat.eqstat_is_percentage ? '%' : '' : ''}} 
            </h5>
        </div>
        <div class="px-2 mb-auto" v-html="data.weaponDetail? data.weaponDetail.detail.weapon_description : ''">
            <h5 class="font-weight-bolder">Reckless Cinnabar</h5>
            <p class="text-justify paragraph-trunctate w-100">
                HP increased by 20%. Additionally, provides an ATK Bonus based on 0.8% of the wielder's Max HP. When the wielder's HP is less than 50%, this ATK Bonus is increased by an additional 1% of Max HP. Additional text should be blurred out like this so you have to scroll it down
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
        </div>
        <div class="pt-1 d-flex justify-content-around">
            <v-select
                placeholder="Equip To"
                class="w-50"
                :options="['Item 1', 'Item 2', 'Item 3']"
            />
            <button class="btn btn-icon btn-sm ">
                <i class="bx bx-dots-horizontal-rounded h1"/>
            </button>
        </div>
    </div>
</template>

<script>
import vSelect from 'vue-select'
import StarRating from 'vue-star-rating'

export default {
    props: {
        data: {
            type: Object,
            default: {}
        },
    },
    components: {
        vSelect, StarRating
    },
    data(){
        return {
            colors: {
                5: 'linear-gradient(135deg, #A56D19 0%, #EB9F2C 100%)',
                4: 'linear-gradient(135deg, #7F5794 0%, #AD7CC7 100%)',
                3: 'linear-gradient(135deg, #427EA2 0%, #59A4D1 100%)',
            },
            mainStatKeys: {
                hp_: 'HP %',
                hp: 'HP',
                atk_: 'ATK %',
                atk:'ATK',
                def_: 'DEF %',
                def: 'DEF',
                critDMG_: 'CRIT DMG %',
                critRate_: 'CRIT RATE %',
                anemo_dmg_: 'ANEMO DMG',
                cryo_dmg_: 'CRYO DMG',
                geo_dmg_: 'GEO DMG',
                hydro_dmg_: 'HYDRO DMG',
                pyro_dmg_: 'PYRO DMG',
                physical_dmg_: 'PHYSICAL DMG',
                electro_dmg_: 'ELECTRO DMG',
                eleMas: 'ELEMENTAL MASTERY',
                enerRech_: 'ENERGY RECHARGE',
                heal_: 'HEALING BONUS',
            }
        }
    }
}
</script>

<style scoped>
    .paragraph-trunctate{
        overflow: scroll; 
        height: 270px;
        padding-right: 10px;
        /* display: inline-block; */
        /* margin: 10px; */
        position: relative;
    }
    .paragraph-trunctate:before {
        content:"";
        width: 100%;
        height: 80px;
        position: fixed;
        margin-top: 13.5em;
        background: -webkit-linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    }
</style>