<template>
    <div class="flex-fill inventory-card">
        <div @mouseover="onHover = true" @mouseleave="onHover = false" 
            style="max-height:100%; width:100%; height: fit-content" :class="`rounded-lg shadow position-relative ${isActive ? 'bg-primary' : 'bg-white'}`">
            <div :style="`
                    width:100%;height:fit-content; 
                    border-bottom-right-radius:20px !important;
                    background:${colors[data.weaponDetail? data.weaponDetail.detail.weapon_rarity : 4]};
                `" class="rounded-lg d-flex px-1 py-2">
                <img class="w-75 m-auto" style="max-width:100px" v-if="data.weaponDetail" :src="data.weaponDetail.detail.weapon_icon" />
                <img class="w-75 m-auto" style="max-width:100px" v-else src="http://www.boc.web.id/wp-content/plugins/photonic/include/images/placeholder.png" />
                <!-- <img class="w-100" v-if="data.artifact_icon" :src="data.artifact_icon" />
                <img class="w-100" v-else src="http://www.boc.web.id/wp-content/plugins/photonic/include/images/placeholder.png" /> -->
            </div>
            <div v-if="data.location != ''" class="rounded-circle position-absolute" style="height:25px;width:25px;top:6px;right:5px;background:rgba(0, 0, 0, 0.5);border: 1px solid rgba(255, 255, 255, 0.5)">
                <img style="width:100%;height:100%;object-fit:cover" src="../../assets/dummy_images/mini_chara_icon.png" />
            </div>
            <div v-if="data.lock != null" class="rounded-circle position-absolute d-flex" style="height:25px;width:25px;top:6px;left:5px;background:rgba(0, 0, 0, 0.5);border: 1px solid rgba(255, 255, 255, 0.5)">
                <span class="m-auto text-white"><i :class="`bx bx-${data.lock ? 'lock text-danger' : 'lock-open-alt'} ml-auto`" style="font-size:12px" /></span>
            </div>
            <div v-if="data.refinement" class="rounded-circle position-absolute d-flex" style="height:25px;width:25px;top:6px;left:5px;background:rgba(0, 0, 0, 0.5);border: 1px solid rgba(255, 255, 255, 0.5)">
                <span class="m-auto text-white">{{data.refinement}}</span>
            </div>
            <span class="d-flex position-absolute" style="width:100%;margin-top:-10%">
                <star-rating class="m-auto" :star-size="18" :size="30" :show-rating="false" read-only :rating="data.weaponDetail? data.weaponDetail.detail.weapon_rarity : 4" :max-rating="5" />
            </span>
            <div style="width:100%; padding:.5em" class="d-flex">
                <span :class="`m-auto h4 mb-0 ${isActive ? 'text-white' : ''}`">+{{data.level}}</span>
            </div>
            <b-overlay :show="onHover" no-wrap opacity=".5">
                <template #overlay>
                    <div class="d-flex">
                        <button class="m-auto btn btn-primary mr-1" @click="onFocus" >
                            <i class="bx bx-search" ></i>
                        </button>
                    </div>
                </template>
            </b-overlay>
        </div>
    </div>
</template>

<script>
import {BOverlay} from 'bootstrap-vue'
import StarRating from 'vue-star-rating'

export default {
    components: {
        BOverlay, StarRating
    },
    props: {
        data: {
            type: Object,
            default: {}
        },
        isActive: {
            type: Boolean,
            default: false
        },
        index: {
            type: Number,
            default: 0
        }
    },
    methods:{
        onFocus(){
            this.$emit('focus', {data:this.data, index:this.index})
        }
    },
    data(){
        return {
            colors: {
                5: 'linear-gradient(135deg, #A56D19 0%, #EB9F2C 100%)',
                4: 'linear-gradient(135deg, #7F5794 0%, #AD7CC7 100%)',
                3: 'linear-gradient(135deg, #427EA2 0%, #59A4D1 100%)',
            },
            onHover:false
        }
    }
}
</script>

<style scoped>
    .custom-card-data {
        background-color: white;
        cursor: pointer;
    }
    .custom-card-data:hover {
        background: #9CA0A4;
    }
</style>
