<template>
    <div class="">
        <navbar /> 
        <div class="d-flex flex-column align-items-center justify-content-end w-100 position-relative h-100 pb-2" style="min-height:100vh;">
            <div class="container px-3">
                <div class="w-100 text-center mb-3" id="inventory-title">
                    <span class="display-3 font-weight-bolder text-white">Inventory</span>
                </div> 
                <div class="row">   
                    <div class="col-xl-2 col-lg-12 px-0" id="inventory-menu-parent">
                        <inventory-menu />
                    </div>
                    <div class="col-lg-12 col-xl-10 px-0">
                        <div class="card p-0 h-100" style="border-top-right-radius:15px;border-bottom-right-radius:15px;border-top-left-radius:0;border-bottom-left-radius:0;">
                            <div class="card-body p-0">
                                <b-overlay :show="isLoading" opacity=".5">
                                    <div class="row h-100"> 
                                        <div class="col-lg-12 col-xl-8 pt-2 px-3 d-flex flex-column" style="max-height:650px"> 
                                            <div style="height:fit-content">
                                                <div class="d-flex flex-wrap align-items-center" style="gap:10px">
                                                    <span style="" class="font-weight-bolder mb-0 mr-auto h1">~ Your {{page_title}}</span>
                                                    <inventory-help />
                                                    <button class="btn btn-success btn-sm d-flex align-items-center flex-fill" id="ADDNEW">
                                                        <i class="bx bx-plus" style="font-size:18px;margin-right:5px"/> 
                                                        Coming Soon
                                                    </button>
                                                </div> 
                                                <div class="my-1">
                                                    <inventory-filter :type="page_type" :setOptions="sets" :mainStatOptions="rawStats" @filtersSorts="filtersSorts" />
                                                </div>
                                            </div>
                                            <inventory-container v-if="data_list != null && data_list.length > 0" :data_list="data_list" :page_type="page_type" :currentFocus="currentFocus" :getNextDatas="getNextDatas" :onFocusCard="onFocusCard" />
                                            <div v-else-if="data_list != null && !init" style="height:450px" class="d-flex">
                                                <label class="h1 font-weight-bolder text-center m-auto">
                                                    Tidak ada {{page_title}} dengan kriteria tersebut
                                                </label>
                                            </div>
                                            <div v-else class="row rounded-lg flex-fill my-auto px-2" id="inventory-cards" style="justify-content:space-around; overflow-y:scroll;"
                                            v-infinite-scroll="getNextDatas" infinite-scroll-disabled="busy" infinite-scroll-distance="10">
                                                    <template v-for="(item,index) in [1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,]">
                                                        <div :key="index+'skeleton'" class="flex-fill">
                                                            <b-skeleton width="130px" height="150px"></b-skeleton>
                                                        </div>
                                                    </template> 
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-lg-12" :style="`max-height:660px;${data_list == [] ? 'box-shadow: inset 8px 0px 10px rgba(0, 0, 0, 0.1);' : ''}`">
                                            <inventory-detail :type="page_type" id="DETAIL" v-if="currentFocus.data" class="inventory-detail" :data="currentFocus.data" :stats="stats" :stat_tiers="stat_tiers" />
                                        </div>
                                    </div>
                                </b-overlay>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        <img src="../../../assets/spiral-abyss-bg.png" class="w-100 h-100 position-absolute" style="object-fit:cover;top:0;z-index:-1" />
        </div>
    </div>
</template>

<script> 

import InventoryCard from './inventory-card.vue'
import InventoryDetail from './inventory-detail.vue'
import InventoryFilter from './inventory-filter.vue'
import InventoryHelp from './inventory-help.vue'
import InventoryMenu from './inventory-menu.vue'
import InventoryContainer from './inventory-container.vue'

import store from '@/store'

import Navbar from '../components/navbar.vue'

// import dummy from '../../../assets/dummy_data.json'

import {BSkeleton, BOverlay} from 'bootstrap-vue'

export default {
    props: {
        datas: {
            type: Array,
            default: () => []
        },
    },
    components: {
        InventoryCard, InventoryDetail, InventoryFilter, InventoryHelp, InventoryMenu, InventoryContainer,
        Navbar, BSkeleton, BOverlay
    },
    data(){
        return {
            // dummy,
            max_render: 20,
            page: 1,
            data_list: [],
            currentFocus: {}, 
            stats: {},
            rawStats: [],
            stat_tiers: {},
            sets: [], 
            init: true,
            page_type: null,
            page_title: null,
        }
    },
    watch: {
        data_list(newVal){
            if(newVal.length > 0){
                this.currentFocus = {
                    data: newVal[0],
                    index: 0
                }
                this.$forceUpdate()
            } else {
                this.currentFocus = {}
            }
        },
        $route (){
            this.page_type = this.$route.params.type
            if(this.page_type == 'artifacts'){
                this.page_title = 'Artifacts'
            }
            else if(this.page_type == 'weapons'){
                this.page_title = 'Weapons'
            }
            else if(this.page_type == 'characters'){
                this.page_title = 'Characters'
            }
            this.filtersSorts(this.filter, this.sort)
        }
    },
    computed: {
        isLoading: function(){
            return store.getters['isLoading']
        }
    },
    methods:{ 
        filtersSorts(filter, sort){
            this.filter = filter
            this.sort = sort
            this.data_list = []
            this.page = 1
            this.getNextDatas()
        },
        async getNextDatas(){
            let page_type = this.$route.params.type
            let url = 'getArtifacts'
            if(page_type == 'weapons') url = 'getWeapons' 
            else if(page_type == 'characters') url = 'getCharacters'
            let temp = await store.dispatch(`inventory/${url}`, {
                page: this.page,
                perPage: this.max_render,
                ...this.filter,
                ...this.sort
            }) 
            this.data_list = this.data_list ? this.data_list.concat(temp) : temp
            this.page = this.page + 1
            this.$forceUpdate()
            this.init = false
        },
        async getStats(){
            await store.dispatch('stats/getAll')
            let stats = store.getters['stats/reducedFormat']
            this.stats = stats 
            this.rawStats = store.getters['stats/getRaw']
            if(this.page_type == 'artifacts'){
                await store.dispatch('artifact_sub_stat_tier/getForInventory')
                let tier = store.getters['artifact_sub_stat_tier/reducedFormat']
                this.stat_tiers = tier
                await store.dispatch('artifact_set/getAll')
                let sets = store.getters['artifact_set/dt']
                this.sets = sets
            }
        },
        onFocusCard(data){
            this.currentFocus = data 
        },
    },  
    mounted(){ 
        this.page_type = this.$route.params.type
        if(this.page_type == 'artifacts'){
            this.page_title = 'Artifacts'
        }
        else if(this.page_type == 'weapons'){
            this.page_title = 'Weapons'
        }
        else if(this.page_type == 'characters'){
            this.page_title = 'Characters'
        }
        this.getStats() 
    }
}
</script> 

<style scoped>
@media only screen and (max-width: 1199px) {
    #inventory-title {
        margin-top: 8em;
    }
    #inventory-menu {
        border-radius: 5px !important;
    }
    #inventory-menu-parent {
        margin-bottom: 1em;
    }
}
</style>

