<template>
    <div class="row rounded-lg flex-fill px-2 my-auto " id="inventory-cards" style="justify-content:space-around;gap: 10px; overflow-y:scroll;"
        v-infinite-scroll="getNextDatas" infinite-scroll-disabled="busy" infinite-scroll-distance="10" >
        <template v-for="(item,index) in data_list">
            <inventory-card :type="page_type" :id="index+'CARD'" :key="index+'CARD'" :data="item" :index="index" @focus="onFocusCard" :isActive="index == currentFocus.index" />
        </template> 
    </div>
</template>

<script>

import InventoryCard from './inventory-card.vue'

export default {
    components :{
        InventoryCard
    },
    props: {
        data_list: {
            type: Array,
            default: () => []
        },
        getNextDatas: {
            type: Function,
            default: () => {}
        },
        page_type: {
            type: String,
            default: 'artifacts'
        },
        currentFocus: {
            type: Object,
            default: () => {
                return {
                    index: null,
                    data: null
                }
            }
        },
        onFocusCard: {
            type: Function,
            default: () => {}
        },
    }
}
</script>