<template>
    <div class="flex-fill inventory-card" v-if="data">
        <!-- {{data.slotDetail[data.rarity]}} -->
        <div @mouseover="onHover = true" @mouseleave="onHover = false" 
            :style="`max-height:100%; max-width:180px; width:100%; height: fit-content; border-radius: 14px; ${isActive ? 'border: 4px solid rgba(243, 176, 44, 0.5);' : 'border: 4px solid white'}`" :class="`    shadow position-relative`">
            <div :style="`
                    width:100%;height:fit-content; 
                    border-bottom-right-radius:20px !important;
                    background:${
                        type == 'characters' ? data.element_color :
                        colors[data.rarity]
                    };
                `" :class="`rounded-lg d-flex  ${!data.faceicon_image ? 'py-2 px-1' : 'pt-2'}`"> 
                <img v-if="data.ar_icon" class="w-75 m-auto" style="width:100px !important;height:100px;object-fit:contain" :src="data.ar_icon" />
                <img v-else-if="data.wp_icon" class="w-75 m-auto" style="width:100px !important;height:100px;object-fit:contain" :src="data.wp_icon" />
                <img v-else-if="data.faceicon_image" class="w-100 mt-auto mx-auto" style="width:140px !important;height:140px;object-fit:contain" :src="data.faceicon_image" />
                <img v-else class="w-75 m-auto" style="max-width:100px" src="http://www.boc.web.id/wp-content/plugins/photonic/include/images/placeholder.png" />
            </div>
            <div v-if="data.chara_equipped && data.chara_equipped != ''" class="rounded-circle position-absolute" style="height:25px;width:25px;top:6px;right:5px;background:rgba(0, 0, 0, 0.5);border: 1px solid rgba(255, 255, 255, 0.5)">
                <img style="width:100%;height:100%;object-fit:cover" src="@/assets/dummy_images/mini_chara_icon.png" />
            </div>
            <div v-if="data.arte_locked != null" class="rounded-circle position-absolute d-flex" style="height:25px;width:25px;top:6px;left:5px;background:rgba(0, 0, 0, 0.5);border: 1px solid rgba(255, 255, 255, 0.5)">
                <span class="m-auto text-white"><i :class="`bx bx-${data.arte_locked ? 'lock text-danger' : 'lock-open-alt'} ml-auto`" style="font-size:12px" /></span>
            </div>
            <div v-if="data.element_light != null" class="rounded-circle position-absolute d-flex" style="height:25px;width:25px;top:6px;right:5px;">
                <img :src="data.element_light" class="w-100" />
            </div>
            <div v-if="data.weap_refinement" class="rounded-circle position-absolute d-flex" style="height:25px;width:25px;top:6px;left:5px;background:rgba(0, 0, 0, 0.5);border: 1px solid rgba(255, 255, 255, 0.5)">
                <span class="m-auto text-white">{{data.weap_refinement}}</span>
            </div>
            <div v-else-if="data.chara_cons" class="rounded-circle position-absolute d-flex" style="height:25px;width:25px;top:6px;left:5px;background:rgba(0, 0, 0, 0.5);border: 1px solid rgba(255, 255, 255, 0.5)">
                <span class="m-auto text-white">{{data.chara_cons}}</span>
            </div>
            <span class="d-flex position-absolute" style="width:100%;margin-top:-10%">
                <star-rating class="m-auto" :star-size="18" :size="30" :show-rating="false" read-only 
                    :rating="data.rarity " :max-rating="5" 
                />
            </span>
            <div style="width:100%; padding:.5em" class="d-flex">
                <span :class="`m-auto h4 mb-0`">+{{data.lvl}}</span>
            </div>
            <b-overlay :show="onHover" no-wrap opacity=".5">
                <template #overlay>
                    <div class="d-flex">
                        <button class="m-auto btn btn-dark mr-1" @click="onFocus" >
                            <i class="bx bx-search" ></i>
                        </button>
                    </div>
                </template>
            </b-overlay>
        </div>
    </div>
</template>

<script>
import {BOverlay} from 'bootstrap-vue'
import StarRating from 'vue-star-rating'

export default {
    components: {
        BOverlay, StarRating
    },
    props: {
        data: {
            type: Object,
            default: () => {}
        },
        isActive: {
            type: Boolean,
            default: false
        },
        index: {
            type: Number,
            default: 0
        },
        type: String
    },
    methods:{
        onFocus(){
            this.$emit('focus', {data:this.data, index:this.index})
        }
    },
    data(){
        return {
            colors: {
                5: 'linear-gradient(135deg, #A56D19 0%, #EB9F2C 100%)',
                4: 'linear-gradient(135deg, #7F5794 0%, #AD7CC7 100%)',
                3: 'linear-gradient(135deg, #427EA2 0%, #59A4D1 100%)',
            },
            onHover:false
        }
    }
}
</script>

<style scoped>
    .custom-card-data {
        background-color: white;
        cursor: pointer;
    }
    .custom-card-data:hover {
        background: #9CA0A4;
    }
</style>