<template>
    <div class="d-flex flex-column bg-white h-100" style="border-top-right-radius:10px;border-bottom-right-radius:15px;" v-if="data" >
        <!-- {{data.slotDetail}} -->
        <div class="p-2 text-white position-relative " :style="`border-top-right-radius:10px;border-top-left-radius:10px;
            ${data.chara_name ? `background-image: url('${data.bgicon_image}');background-size:cover    ;background-repeat: no-repeat;` : `background: ${colors[data.rarity]};`}`
            ">
            <div class="d-flex align-items-center">
                <div class="d-flex align-items-center">
                    <span v-if="type != 'characters'">
                        <i class="bx bx-trophy mb-0 mr-1" style="font-size:18px" />
                    </span>
                    <span class="d-flex mr-1" style="gap:5px" v-else>
                        <img :src="data.element_light" class="rounded-circle" style="width:30px;height:30px" />
                        <img :src="data.weapon_type_icon" class="rounded-circle" style="width:30px;height:30px;filter:brightness(0) invert(1);" />
                    </span>
                    <span v-if="data.ar_name">
                        {{data.ar_name}}
                    </span>
                    <span v-else-if="data.wp_name">
                        {{data.wp_name}}
                    </span>
                    <span v-else-if="data.chara_name">
                        {{data.chara_name}}
                    </span>
                </div>
                <i v-if="type == 'artifacts'" :class="`bx bx-${data.arte_locked ? 'lock bg-danger' : 'lock-open-alt bg-secondary'} rounded-circle border-white ml-auto`" :style="`font-size:18px;padding:.2em`" />
            </div>
            <div class="display-1 text-white font-weight-bolder position-absolute mt-1" style="z-index:1;opacity:.3;" v-if="type == 'artifacts'">+{{data.lvl}}</div>
            <div class="text-white font-weight-bolder mt-1" style="font-size:30pt" v-else-if="type == 'weapons'">
                Lv. {{data.lvl}}/{{data.max_level || '90' }}
            </div>
            <div class="text-white font-weight-bolder mt-1" style="font-size:30pt" v-else-if="type == 'characters'">
                Lv. {{data.lvl}}/{{data.max_level || '90' }}
            </div>
            <div class="h3 mb-0 text-white font-weight-bolder" v-if="data.weap_refinement">
                Refinement {{data.weap_refinement}}
                <img v-if="data.wp_icon" :src="data.wp_icon" style=";top:0;right:0px;z-index:1px" class="h-100 position-absolute" />
            </div>
            <div class="h3 mb-0 text-white font-weight-bolder" v-if="data.chara_cons">
                Constellation {{data.chara_cons}}
                <img v-if="data.faceicon_image" :src="data.faceicon_image" style="max-width:200px;bottom:0;right:0px;z-index:1px" class="position-absolute" />
            </div>
            <div class="h3 font-weight-bolder mt-1 text-white mb-0 position-relative" v-if="type == 'artifacts'">
                {{data.main_stat_label}}
                <img v-if="data.ar_icon" :src="data.ar_icon" style="max-width:130px;top:-10px;right:0px;z-index:1px" class="w-100 position-absolute" />
                <img v-else src="http://www.boc.web.id/wp-content/plugins/photonic/include/images/placeholder.png" style="max-width:180px;top:0px;right:40px" class="w-100 position-absolute" />
            </div>
            <div class="display-4 text-white mb-0 font-weight-bolder position-relative" v-if="type == 'artifacts'">
                {{data.main_stat}}
            </div>
            <div class="d-flex align-items-center justify-content-between flex-wrap">
                <star-rating :class="`mr-auto ${type == 'artifacts' ? 'mt-1' : ''}`" :star-size="type == 'artifacts' ? 20 : 25" :show-rating="false" read-only :rating="data.rarity" :max-rating="5" />
                <b-button v-if="type == 'artifacts'"
                    id="popover-button-default"
                    class="d-flex align-items-center mt-1" style="z-index:9;background: rgba(255, 255, 255, 0.25) !important;border-radius:5px;cursor:pointer;border:none !important"
                    variant="gradient-dark"
                    size="sm"
                >
                        {{data.arset_name}}
                    <i class="ml-1 bx bx-info-circle" style="font-size:14px;cursor:pointer" />
                </b-button>

                <b-popover
                    target="popover-button-default"
                    triggers="focus"
                    placement="top"
                >
                    <template #title>
                    <span>{{data.arset_name}} </span>
                    </template>
                    <span>
                        <p v-if="data.arset_piece1">
                            <strong>Piece 1 : </strong>
                            {{data.arset_piece1}}
                        </p> 
                        <p v-if="data.arset_piece2">
                            <strong>Piece 2 : </strong>
                            {{data.arset_piece2}}
                        </p> 
                        <p v-if="data.arset_piece4">
                            <strong>Piece 4 : </strong>
                            {{data.arset_piece4}}
                        </p> 
                    </span>
                </b-popover> 
            </div>
            <div class="d-flex mt-1" style="gap:5px">
                <div class="d-flex" v-for="k in data.chara_talent" :key="k+'TALENT'" style="background: rgba(0, 0, 0, 0.5);border: 2px solid rgba(255, 255, 255, 0.5);border-radius: 40px;width: 40px;height: 40px;">
                    <span class="m-auto">{{k}}</span>
                </div>
            </div>
        </div>
        <div class="px-2 py-1 bg-white my-auto" v-if="type == 'artifacts'">
            <template v-for="(item, idx) in data.sub_stat">
                <div :class="`d-flex align-items-center ${idx != data.sub_stat.length - 1 ? 'mb-1' : ''}`" :key="idx+'SUBSTAT'" v-if="item.value">
                    <span style="width:24px;height:24px;" class="d-flex rounded-lg text-white bg-secondary">
                        <span class="m-auto" v-if="stat_tiers && stat_tiers[item.key] && stat_tiers[item.key][data.rarity]">{{stat_tiers[item.key][data.rarity][item.value]}}</span>
                    </span> 
                    <span class="mx-1 mr-auto text-secondary" v-if="stats[item.key]">{{stats[item.key].stat_name}}</span>
                    <span class="font-weight-bold">{{item.value}}{{item.key.includes('_') ? '%' : ''}}</span>
                </div>
            </template>
        </div>
        <div class="px-2 py-1 bg-white mb-auto mt-1" v-else-if="type == 'weapons'">
            <div class="d-flex justify-content-between h5">
                <span>Base ATK</span>
                <span class="font-weight-bolder">{{data.mainstat_value}}</span>
            </div>
            <div class="d-flex justify-content-between h5">
                <span>{{data.substat_label}}</span>
                <span class="font-weight-bolder">{{data.substat_value}}{{data.stat_key.includes('_') ? '%' : ''}}</span>
            </div>
            <div class="mt-2">
                <span class="font-weight-bolder h5">{{data.refinement_title}}</span><br/>
                <span class="p" v-html="data.refinement_desc"></span>
            </div>
        </div>
        <div class="" v-else-if="type == 'characters'">
            <div class="row p-1">
                <div class="col-lg-12 pt-1">
                    <div class="d-flex align-items-center rounded-bottom justify-content-between">
                        <h6 class="h5 mb-0"><i class="bx bx-home" style="margin-right:.5em"></i> Total HP</h6>
                        <h6 class="h5 mb-0 font-weight-bolder">{{data.stat_min_hp.toFixed(0)}}</h6>
                    </div>
                </div>
                <div class="col-lg-12 pt-1">
                    <div class="d-flex align-items-center rounded-bottom justify-content-between">
                        <h6 class="h5 mb-0"><i class="bx bx-home" style="margin-right:.5em"></i> Total ATK</h6>
                        <h6 class="h5 mb-0 font-weight-bolder">{{data.stat_min_atk.toFixed(0)}}</h6>
                    </div>
                </div>
                <div class="col-lg-12 pt-1">
                    <div class="d-flex align-items-center rounded-bottom justify-content-between">
                        <h6 class="h5 mb-0"><i class="bx bx-home" style="margin-right:.5em"></i> Total DEF</h6>
                        <h6 class="h5 mb-0 font-weight-bolder">{{data.stat_min_def.toFixed(0)}}</h6>
                    </div>
                </div>
                <div class="col-lg-12 pt-1">
                    <div class="d-flex align-items-center rounded-bottom justify-content-between">
                        <h6 class="h5 mb-0"><i class="bx bx-home" style="margin-right:.5em"></i> Elemental Mastery</h6>
                        <h6 class="h5 mb-0 font-weight-bolder">41.7%</h6>
                    </div>
                </div>
                <div class="col-lg-12 pt-1">
                    <div class="d-flex align-items-center rounded-bottom justify-content-between">
                        <h6 class="h5 mb-0"><i class="bx bx-home" style="margin-right:.5em"></i> Crit Rate</h6>
                        <h6 class="h5 mb-0 font-weight-bolder">41.7%</h6>
                    </div>
                </div>
                <div class="col-lg-12 pt-1">
                    <div class="d-flex align-items-center rounded-bottom justify-content-between">
                        <h6 class="h5 mb-0"><i class="bx bx-home" style="margin-right:.5em"></i> Crit DMG</h6>
                        <h6 class="h5 mb-0 font-weight-bolder">41.7%</h6>
                    </div>
                </div>
                <div class="col-lg-12 pt-1">
                    <div class="d-flex align-items-center rounded-bottom justify-content-between">
                        <h6 class="h5 mb-0"><i class="bx bx-home" style="margin-right:.5em"></i> Energy Recharge</h6>
                        <h6 class="h5 mb-0 font-weight-bolder">41.7%</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-white d-flex px-2 py-1 mb-1" style="background: linear-gradient(135deg, #427EA2 0%, #59A4D1 100%);" v-if="type == 'artifacts'">
            <h5 class="mb-0 text-white">Current Substate Effeciency</h5>
            <h5 class="mb-0 ml-auto text-white">{{data.current_efficiency}}%</h5>
        </div>
        <div class="text-white d-flex px-2 py-1" style="background: #D7545C;" v-if="type == 'artifacts'">
            <h5 class="mb-0 text-white">Maximum Substate Efficiency</h5>
            <h5 class="mb-0 ml-auto text-white">{{data.max_efficiency}}%</h5>
        </div>

        <div class="pt-1 d-flex justify-content-around mt-auto" v-if="type != 'characters'">
            <v-select
                placeholder="Equip To"
                class="w-50"
                :options="['Item 1', 'Item 2', 'Item 3']"
            />
            <button class="btn btn-icon btn-sm ">
                <i class="bx bx-dots-vertical-rounded h1 mb-0"/>
            </button>
        </div>
        <div class="pt-1 d-flex justify-content-around mt-auto" v-else>
            <router-link to="/user/builds" class="btn d-flex align-items-center justify-content-between text-white w-100 btn-sm" style="background: #58D9AD;">
                <h4 class="text-white mb-0">Build Character</h4>
                <i class="bx bx-chevron-right ml-1" style="font-size:24px"></i>
            </router-link>
            <button class="btn btn-icon btn-sm bg px-2">
                <i class="bx bx-dots-vertical-rounded h1 mb-0"/>
            </button>
        </div>
    </div>
</template>

<script>
import vSelect from 'vue-select'
import StarRating from 'vue-star-rating'

import {BButton, BPopover} from 'bootstrap-vue'

export default { 
    props: {
        data: {
            type: Object,
            default: () => {}
        },
        stats: {
            type: Object,
            default: () => {}
        },
        stat_tiers: {
            type: Object,
            default: () => {}
        },
        type: String,
    },
    components: {
        vSelect, StarRating, BButton, BPopover
    },
    data(){
        return {
            colors: {
                5: 'linear-gradient(135deg, #A56D19 0%, #EB9F2C 100%)',
                4: 'linear-gradient(135deg, #7F5794 0%, #AD7CC7 100%)',
                3: 'linear-gradient(135deg, #427EA2 0%, #59A4D1 100%)',
            }, 
        }
    }
}
</script>


<style scoped>
.level-mask-gradient {
  -webkit-mask-image: linear-gradient(to right, transparent 10%, black 75%);
    mask-image: linear-gradient(to right, transparent 10%, black 75%);
    background-size: co;
}
</style>