<template>
  <div>
    <button
      v-ripple.400="'rgba(113, 102, 240, 0.15)'"
      class="btn btn-outline-primary btn-sm d-flex align-items-center"
      @click="tourStart"
    >
      <i class="bx bx-help-circle" style="font-size:18px;margin-right:5px"/> Help
    </button>

    <app-tour :steps="steps" />
  </div>
</template>

<script>
import BCardCode from '@core/components/b-card-code/BCardCode.vue'
import { BButton } from 'bootstrap-vue'
import Ripple from 'vue-ripple-directive'
import AppTour from '@core/components/app-tour/AppTour.vue'
import { codeTour } from './help-steps'

export default {
  name: 'ShepherdExample',
  components: {
    BCardCode,
    BButton,
    AppTour,
  },
  directives: {
    Ripple,
  },
  data() {
    return {
      codeTour,
      steps: [ 
        {
          target: '.inventory-detail:first-child',
          params: {
            placement:'left',
          },
          header: {
            title: 'Trigger Tour',
          },
          content: 'You can click on this button to trigger the tour.',
        },
        {
          target: '.inventory-card:first-child',
          header: {
            title: 'Trigger Tour',
          },
          content: 'You can click on this button to trigger the tour.',
        },
        {
          target: '#FILTER_SEARCH',
          header: {
            title: 'Trigger Tour',
          },
          content: 'You can click on this button to trigger the tour.',
        },
        {
          target: '#FILTER_APP',
          header: {
            title: 'Trigger Tour',
          },
          content: 'You can click on this button to trigger the tour.',
        },
        {
          target: '#ADDNEW',
          header: {
            title: 'Trigger Tour',
          },
          content: 'You can click on this button to trigger the tour.',
        },
      ],
    }
  },
  methods: {

    // tour steps
    tourStart() {
      this.$tours.vuexyTour.start()
    },
  },
}
</script>

<style lang="scss">
@import '@core/scss/vue/libs/tour.scss';
</style>
