<template>
    <div>
        <div class="position-relative">
            <div class="d-flex flex-wrap align-items-center" style="gap:10px">
                <b-dropdown right  
                    variant="outline-secondary"
                    class="flex-fill d-flex align-items-center"
                >
                    <template #button-content>
                        <i class="bx bx-sort "> </i> Sort By : <strong>{{sort.sortByLabel}}</strong>
                    </template>
                    <b-dropdown-item @click="sort.sortBy = 'current_efficiency', sort.sortByLabel = 'Substate Effieciency'" v-if="['artifacts'].includes(type)">
                        Substate Effieciency
                    </b-dropdown-item> 
                    <b-dropdown-item @click="sort.sortBy = 'lvl', sort.sortByLabel =  'Level'">
                        Level
                    </b-dropdown-item> 
                    <b-dropdown-item @click="sort.sortBy = 'set_key', sort.sortByLabel =  'Artifact Set'" v-if="['artifacts'].includes(type)">
                        Artifact Set
                    </b-dropdown-item> 
                    <b-dropdown-item @click="sort.sortBy = 'rarity', sort.sortByLabel =  'Rarity'">
                        Rarity
                    </b-dropdown-item> 
                    <b-dropdown-item @click="sort.sortBy = 'main_stat_key', sort.sortByLabel =  'Main Stat'" v-if="['artifacts'].includes(type)">
                        Main Stat
                    </b-dropdown-item> 
                    <b-dropdown-item @click="sort.sortBy = 'stat_key', sort.sortByLabel =  'Sub Stat'" v-if="['weapons'].includes(type)">
                        Sub Stat
                    </b-dropdown-item> 
                </b-dropdown>
                <b-dropdown 
                    text="Descending"
                    variant="outline-secondary"
                    style="width:fit-content"
                    class="flex-fill my-auto"
                >
                    <template #button-content>
                        <span  v-if="sort.sortOrder == 'desc'"><i class="bx bx-sort-down mr-1"></i> Descending</span>
                        <span v-else><i class="bx bx-sort-up mr-1"></i> Ascending</span>
                    </template>
                    <b-dropdown-item @click="sort.sortOrder = 'desc'">
                        <i class="bx bx-sort-down mr-1"></i> Descending
                    </b-dropdown-item>
                    <b-dropdown-item @click="sort.sortOrder = 'asc'">
                        <i class="bx bx-sort-up mr-1"></i> Ascending
                    </b-dropdown-item>
                </b-dropdown>
                <button class="btn btn-outline-secondary my-auto d-flex" id="FILTER_APP" @click="toggleFilter">
                    <i class="bx bx-filter mr-1"/> Filter
                </button>
            </div>  
            <div class="position-absolute w-100 py-1 px-2 rounded-lg" id="filter-box"
                style="opacity:0;z-index:0;background: rgba(255, 255, 255, 0.5);border: 3px solid #FFFFFF;box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.2);backdrop-filter: blur(20px);"
            >
                <!-- {{mainStatOptions}} -->
                <div class="row" style="margin-bottom:.5em">
                    <div class="col-lg-7"> 
                        <multiselect v-model="filter.sets" placeholder="Artifact Sets" class="shadow-lg btn-outline-secondary rounded"
                            :options="setOptions" multiple label="arset_name" track-by="arset_key" v-if="['artifacts'].includes(type)"
                            :limit="1" deselect-label="Hapus" select-label="Pilih" ></multiselect> 
                    </div>
                    <div class="col-lg-5"> 
                        <multiselect v-model="filter.slot" placeholder="Artifact Slot" v-if="['artifacts'].includes(type)"
                            :options="slotOptions" multiple  class="shadow-lg btn-outline-secondary rounded"
                            :limit="1" deselect-label="Hapus" select-label="Pilih" ></multiselect> 
                    </div>
                </div>
                <div class="row" style="margin-bottom:.5em">
                    <div class="col-lg-12"> 
                        <multiselect v-model="filter.weapon_type" placeholder="Weapon Type" v-if="['weapons'].includes(type)"
                                :options="weaponOptions" multiple  class="shadow-lg btn-outline-secondary rounded"
                                :limit="1" deselect-label="Hapus" select-label="Pilih" ></multiselect> 
                    </div>
                </div>
                <div class="row" style="margin-bottom:.5em">
                    <div class="col-lg-7">  
                        <multiselect v-model="filter.stats" placeholder="Main Stat" track-by="stat_key" v-if="['artifacts', 'weapons'].includes(type)"
                            :options="mainStatOptions" label="stat_name"  multiple  class="shadow-lg btn-outline-secondary rounded"
                            :limit="1" deselect-label="Hapus" select-label="Pilih" ></multiselect> 
                    </div>
                    <div class="col-lg-5">  
                        <multiselect v-model="filter.rarity" placeholder="Rarity" track-by="value" label="label" v-if="['artifacts', 'weapons'].includes(type)"
                            :options="rarityOptions" multiple class="shadow-lg btn-outline-secondary rounded"
                            :limit="1" deselect-label="Hapus" select-label="Pilih" ></multiselect> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-7"> 
                        <multiselect v-model="filter.efficiency" placeholder="Artifact Substate Efficiency" track-by="value" v-if="['artifacts'].includes(type)"
                            :options="efficiencyOptions" label="label" class="shadow-lg btn-outline-secondary rounded"
                            :limit="1" deselect-label="Hapus" select-label="Pilih" ></multiselect> 
                    </div>
                    <div class="col-lg-5"> 
                        <!-- <div class="d-flex justify-content-end"> -->
                            <button class="btn btn-relief-primary btn-block" @click="onFilterSend">
                                <i class="bx bx-filter mr-1"></i>
                                Filter
                            </button>
                        <!-- </div> -->
                    </div>
                </div> 
                
            </div>
        </div>
    </div> 
</template>


<script>

import anime from 'animejs'

import {
    BFormInput,  BInputGroupPrepend, BInputGroup,  BDropdown, BDropdownItem
} from 'bootstrap-vue'  

export default {
    props: {
        setOptions: {
            type: Array,
            default: () => []
        },
        mainStatOptions: {
            type: Array,
            default: () => []
        },
        type: String
    },
    components: {
        BFormInput,  BInputGroupPrepend, BInputGroup, BDropdown, BDropdownItem
    },
    data(){
        return {
            onToggleFilter: false,
            
            rarityOptions: [
                {label : '5 Star', value: '5'},
                {label : '4 Star', value: '4'},
                {label : '3 Star', value: '3'},
            ],
            slotOptions: ['Flower','Plume', 'Sands', 'Goblet', 'Circlet'],
            weaponOptions: ['Sword','Bow', 'Claymore', 'Catalyst', 'Spear'],
            efficiencyOptions: [
                { label: 'High', value: 18 },
                { label: 'Middle', value: 9 },
                { label: 'Low', value: 0 },
            ],

            filter : {
                rarity: null,
                sets: null,
                stats: null,
                efficiency: null,
                slot: null,
            },

            sort: {
                sortBy: 'lvl',
                sortOrder: 'desc',
                sortByLabel: 'Level',
            }
        }
    },
    watch: {
        sort: {
            deep: true,
            immediate: true,
            handler: function(val){
                const filter = {
                    rarity: this.filter.rarity?.map(item => (item.value))?.join(','),
                    sets: this.filter.sets?.map(item => (item.arset_key))?.join(','),
                    stats: this.filter.stats?.map(item => (item.stat_key))?.join(','),
                    // efficiency: this.filter.efficiency,
                    slot: this.filter.slot?.join(','),
                    type: this.filter.weapon_type?.join(','),
                } 
                const sort = {
                    sortBy : val.sortBy,
                    sortOrder : val.sortOrder
                } 
                this.$emit('filtersSorts', filter, sort)
            }
        }, 
    },
    methods: {
        toggleFilter(){
            if(this.onToggleFilter){
                this.onToggleFilter = false;
                anime({
                    targets: '#filter-box',
                    marginTop: ['1em','-1em'], 
                    opacity: ['1', '0'],
                    zIndex: ['1', '0'],
                    easing: 'easeInOutQuad'
                });
                // this.$bvModal.hide('modalFilter')
            } else {
                this.onToggleFilter = true;
                anime({
                    targets: '#filter-box',
                    marginTop: ['-1em','1em'], 
                    opacity: ['0', '1'],
                    zIndex: ['1', '1'],
                    easing: 'easeInOutQuad'
                });
                // this.$bvModal.show('modalFilter')
            }
        },
        onFilterSend(){
            const filter = {
                rarity: this.filter.rarity?.map(item => (item.value))?.join(','),
                sets: this.filter.sets?.map(item => (item.arset_key))?.join(','),
                stats: this.filter.stats?.map(item => (item.stat_key))?.join(','),
                // efficiency: this.filter.efficiency,
                slot: this.filter.slot?.join(','),
                type: this.filter.weapon_type?.join(','),
            }  
            const sort = {
                sortBy : this.sort.sortBy,
                sortOrder : this.sort.sortOrder
            }
            this.$emit('filtersSorts', filter, sort)
            this.toggleFilter()
        },
    },
}
</script>

<style > 
</style>