<template>
    <div class="card h-100" style="background:#F2F2F2;border-bottom-right-radius:0px;border-top-right-radius:0px;box-shadow: inset -4px 0px 20px rgba(0, 0, 0, 0.1);" id="inventory-menu">
        <div class="card-body px-0" id="inventory-menu-body">
            <div style="border-radius:0" :class="`d-flex justify-content-end btn ${$route.fullPath.includes('artifact') ? 'bg-white font-weight-bolder' : ''} w-100 d-flex align-items-center mb-1`" @click="$router.push('/user/inventory/artifacts')">
                <img src="https://firebasestorage.googleapis.com/v0/b/teyvat-archive.appspot.com/o/Assets%2FArtifact.png?alt=media&token=5180bcdb-89ae-48ab-a2f1-05eda8eb2ce4" />
                Artifacts
            </div>
            <div style="border-radius:0" :class="`d-flex justify-content-end btn ${$route.fullPath.includes('character') ? 'bg-white font-weight-bolder' : 'flat'} w-100 d-flex align-items-center mb-1`" @click="$router.push('/user/inventory/characters')">
                <img src="https://firebasestorage.googleapis.com/v0/b/teyvat-archive.appspot.com/o/Assets%2FCharacter.png?alt=media&token=1838dfcf-4c23-4417-b88c-c261dd24929a" />
                Characters
            </div>
            <div style="border-radius:0" :class="`d-flex justify-content-end btn ${$route.fullPath.includes('weapon') ? 'bg-white font-weight-bolder' : 'flat'} w-100 d-flex align-items-center mb-1`" @click="$router.push('/user/inventory/weapons')">
                <img src="https://firebasestorage.googleapis.com/v0/b/teyvat-archive.appspot.com/o/Assets%2FWeapon.png?alt=media&token=5f498806-0d3f-4cb5-a1b6-afeae9a02b66" />
                Weapons
            </div>
            <div style="border-radius:0" :class="`d-flex justify-content-end btn ${$route.fullPath.includes('setting') ? 'bg-white' : 'flat'} w-100 d-flex align-items-center`">
                <img src="https://firebasestorage.googleapis.com/v0/b/teyvat-archive.appspot.com/o/Assets%2FFood.png?alt=media&token=c86f3351-0fa2-43c4-bb8d-1bd85293a549" />
                Settings
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            activeMenu: 'artifact',
        }
    },
}
</script>