<template>
  <div :class="`${$props.classes} w-auto position-relative h-100`" :style="`background:#D8FA00;${styles}`">   
    <BImg :src="currentChara.image" class="h-100 chara-image-big" style="" />
    <div class="chara-card-info">
        <h2 style="color:#000;font-size:36px;font-weight:900;line-height: 30px;" v-html="currentChara.affiliation"></h2>
        <h1 style="font-size:90px;color:#000;line-height: 80px;font-weight:900;" v-html="currentChara.name"></h1>
    </div>
    <div class="chara-number">
        <h2 class="chara-number-label" style="color:#000;font-size:52px;font-weight:900;line-height: 40px;font-family:roboto">Chara IDx</h2>
        <h1 class="chara-number-number" style="font-size:140px;color:#000;line-height: 120px;font-weight:900;font-family:roboto">0{{current+1}}</h1>
    </div>
    <BImg :src="currentChara.affiliation_logo" class="chara-affiliation-logo" style="" />
    <div class="main-panel" />
    <CharaNavigation classes="position-absolute chara-nav" styles="bottom:30px;z-index:3" @changeChar='changeCharacter' />
    <img class="background-zig-zag" src="https://zenless.hoyoverse.com/_nuxt/img/fill-black-short.af5371b.png" />
  </div>
</template>

<script>
import { BImg } from "bootstrap-vue";
import CharaNavigation from './chara-nav.vue';

import anime from 'animejs'

export default {
  components: {
    CharaNavigation, BImg
  },
  props: {
    classes: {
      type: String,
      default: "",
    },
    styles: {
      type: String,
      default: "",
    },
    position: {
      type: Array,
      default: () => [0, 0],
    }
  },
  computed: {
    currentChara: function(){ 
      return this.charas[this.current]
    }
  },
  watch: {
    position: {
      deep: true,
      immediate: true,
      handler: function(newPosition){ 
        let percent = (newPosition[1] / 800)
        let size_chara = -1000 + (percent * 1100)
        let size_main_panel = -35 + (percent * 20)
        let size_nav = -15 + (percent * 75)
        let size_affiliation = -150 + (percent * 200)
        
        if((newPosition[1] / 800) * 100 <= 100){ 
          anime({
            targets: '.chara-image-big', 
            right: `${size_chara}px`,  
          });
          anime({
            targets: '.main-panel', 
            right: `${size_main_panel}%`, 
          }); 
          anime({
            targets: '.chara-nav', 
            right: `${size_nav}%`, 
          });
          anime({
            targets: '.chara-card-info', 
            right: `${size_affiliation}px`, 
          });
          anime({
            targets: '.chara-affiliation-logo', 
            right: `${size_affiliation-100}px`, 
          });
        }

        percent = (newPosition[1] / 400)
        let chara_num_label = -100 + (percent * 350)
        if(percent * 100 <= 100){ 
          anime({
            targets: '.chara-number-label',  
            left: `${chara_num_label}px`,
            duration: 1000
          }); 
        }

        percent = (newPosition[1] / 500)
        let chara_num_number = -100 + (percent * 350)
        if(percent * 100 <= 100){ 
          anime({
            targets: '.chara-number-number',  
            left: `${chara_num_number}px`,
            duration: 1000
          }); 
        }
      }
    }
  }, 
  methods: {
    changeCharacter(idx){ 
      if(idx != this.current && idx < this.charas.length){
        let chara_image = anime.timeline({
          targets: '.chara-image-big',  
          right: `-600px`, opacity: .0 ,
          duration: 1000,  
        });
        chara_image.finished.then(()=>{
          this.current = idx
          anime({
            targets: '.chara-image-big', 
            keyframes: [
              {right: `-600px`, opacity: 0}, 
              {right: `100px`, opacity: 1 }, 
            ],   
            duration: 2000,  
          })
        });
        anime({
          targets: '.chara-card-info', 
          keyframes: [
            {right: `-150px`, opacity: 0}, 
            {right: `50px`, opacity: 1}, 
          ], 
        });
        anime({
          targets: '.chara-affiliation-logo', 
          keyframes: [
            {right: `-150px`, opacity: 0}, 
            {right: `-50px`, opacity: 1}, 
          ], 
        });  
      } 
    }
  },
  data() {
    return {
      charas: [
        {
          image: "https://webstatic.hoyoverse.com/upload/op-public/2022/07/07/7264ccc6ec5fa226bc99488312df2160_1256121899065284858.png",
          name: "Nekomiya <br/> Mana",
          affiliation_logo: 'https://webstatic.hoyoverse.com/upload/op-public/2022/05/14/9f3591d864c6c896cbc576b69120137d_6608998489547782656.png',
          affiliation: "Gentle House <br/> AKA Cunning Hares",
        },
        {
          image: "https://webstatic.hoyoverse.com/upload/op-public/2022/07/13/62797155403e116e2e4bf55a90e31506_6822285386841284222.png",
          name: "Corin <br/> Wickes",
          affiliation_logo: 'https://webstatic.hoyoverse.com/upload/op-public/2022/07/13/1a94de6462dba23318a8b62697720ee4_8428098474433190496.png',
          affiliation: "Victoria Housekeeping <br/> Co.",
        },
      ],
      current: 0,
    };
  },
};
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.background-zig-zag {
  width: 100%;
  position: absolute;
  z-index: 0;
}

.main-panel {
  height: 650px;
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: -15%;
  width: 100%;
  background: url(https://zenless.hoyoverse.com/_nuxt/img/chara-panel2.20d68d6.png)
    no-repeat 0 0/100% 100%;
}
.chara-number-label {
  position: absolute;
  top: 250px;
  left: 250px;
  z-index: 2; 
}
.chara-number-number {
  position: absolute;
  top: 300px;
  left: 250px;
  z-index: 2; 
}
.chara-card-info {
    font-family: 'Roboto', sans-serif !important;
    position: absolute; 
    bottom: 230px;
    right: 150px;  
    text-align: right; 
    z-index: 2;
} 
.chara-image-big {
  z-index: 3;
  position: absolute; 
  right: -700px;
}
.chara-affiliation-logo{
  z-index: 2;
  position: absolute;
  max-height: 590px;
  bottom: 60px;
  right: 5%;
}
</style>
