<template>
  <div class="position-relative">
    <swiper
      class="swiper-multiple"
      :options="swiperOptions"
      style="background: #030303;"
    >
      <swiper-slide v-for="(data, index) in swiperData" :key="index" style="width: 300px">
        <div class="h-100">
          <b-img :src="data.img" fluid />
          <div class="p-2" style="background:#030303">
            <h1 class=" font-weight-bolder h3" style="font-family:roboto;color:#D8FA00">{{data.name}}</h1>
            <p class="text-white">{{data.desc}}</p>
          </div>
        </div>
      </swiper-slide>

      <!-- <div class="navigation">
      </div> -->

      <!-- <div slot="pagination" class="swiper-pagination" /> -->
    </swiper>
    <div class="d-flex align-items-center position-absolute" style="bottom:40%;left:38%;width:450px;z-index:99">
      <div class="zenless-arrow-left faction-prev" style="width:60px;height:50px" />
      <div class="zenless-arrow-right faction-next" style="width:60px;height:50px" />
    </div>
    <!-- <div class="swiper-button-prev" style="position:fixed;left:20%;">
        <img src="" />
    </div> -->
  </div>
</template>

<script>
import { Swiper, SwiperSlide } from "vue-awesome-swiper";
import { BCard, BCardText, BLink, BImg } from "bootstrap-vue";


export default {
  components: {
    Swiper,
    SwiperSlide,

    BCard,
    BImg,
    BCardText,
    BLink,
  },
  data() {
    return {
      swiperData: [
        {
          img:
            "https://webstatic.hoyoverse.com/upload/op-public/2022/07/13/7eda813e089f1bdcec4e7c7e93b101d6_62579096008154070.png",
            name: 'Victoria Housekeeping Co.', desc: 'Thank you for using Victoria Housekeeping. Your wish is our command.'
        },
        {
          img:
            "https://webstatic.hoyoverse.com/upload/op-public/2022/06/10/fb8e50f12b6c4623b6b65d9edffd76dd_5707532998005378443.png",
            name: 'Faction Unknown', 'desc' : 'Information Incomplete'
        },
        {
          img:
            "https://webstatic.hoyoverse.com/upload/op-public/2022/06/07/5196e6764e97e7ddd59cd947afcd8141_955191389344616215.png",
            name: 'Gentle House AKA Cunning Hares', desc: 'The Cunning Hares are always available for the right price!'
        },
      ],
      swiperOptions: {
        slidesPerView: "auto",
        centeredSlides: true,
        navigation: {
          nextEl: ".faction-next",
          prevEl: ".faction-prev",
        }, 
      },
    };
  },
};
</script>

<style scoped>

</style>
