<template>
    <div class="position-relative" >
        <div class="position-relative" id="character-selection">
            <div :class="`feed ${classes}`" :style="`${styles}`"> 
                <template v-for="(item,i) in listOfCards">
                    <CharaCard :key="!item ? i+'CHARA-CARD' : item.chara_id" :selected="!item ? false : item.chara_id == selected"
                        :classes="i == 3 ? 'pt-3' : (i == 0 ? 'pt-1' : '')" 
                        :data="item" @select="onSelect" /> 
                </template>
            </div>
            <div class="position-absolute" style="top:100px;left:500px">
                <div class="position-relative">
                    <div class="btn-zenless rounded-pill btn-icon text-nowrap d-flex align-items-center position-absolute"  @click="onNext()"
                        style="z-index:9;font-family:roboto;padding-right:.7em">
                        NEXT <i class="bx bx-chevron-right" style="font-size:24px"></i>
                    </div>
                    <div class="btn-zenless rounded-pill btn-icon text-nowrap d-flex align-items-center position-absolute" @click="onPrev()"
                        style="z-index:9;top:60px;left:10px;font-family:roboto;padding-left:.7em;font-size:14px">
                        <i class="bx bx-chevron-left" style="font-size:16px"></i> PREV 
                    </div>
                    <div class="btn-zenless rounded-pill btn-icon text-nowrap d-flex align-items-center position-absolute" @click="onToggleCharaSelection()"
                        style="z-index:9;top:110px;left:20px;font-family:roboto;padding-left:.7em;font-size:14px">
                        <i class="bx bx-chevrons-left" style="font-size:16px"></i> 
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-zenless rounded-pill btn-icon text-nowrap d-flex align-items-center position-absolute" @click="onToggleCharaSelection()" v-if="!sidebarIsOpen"
            style="z-index:9;top:110px;left:20px;font-family:roboto;padding-right:.7em;font-size:14px">
            <i class="bx bx-chevrons-right" style="font-size:16px"></i> 
        </div>
    </div>
</template>

<script>
import CharaCard from './chara-card.vue'
import anime from 'animejs'

export default {
    components: {
        CharaCard
    },
    props: {
        styles: {
            type: String,
            default: '',
        },
        classes: {
            type: String,
            default: '',
        },
        data: {
            type: Array,
            default: () => [],
        },
        selected : {
            type: Number,
            default: '',
        },
    },
    computed: {
        listOfCards: function(){ 
            let list = [];
            this.$props.data.map(item => {
                list.push(item);
            })

            for(let i = 0; i < 9 - this.$props.data.length; i++){
                list.push(null);
            }
            
            return list
        }
    },
    methods: {
        onNext(){ 
            this.$emit('onNext');
        },
        onPrev(){
            this.$emit('onPrev');
        }, 
        onSelect(id){
            this.$emit('onselect', id)
        }, 
        onToggleCharaSelection(){
            if(this.sidebarIsOpen)
                anime({
                    targets: '#character-selection', 
                    left: `-600px`, opacity: 0 , zIndex: 9,
                    duration: 1000,  
                })
            else 
                anime({
                    targets: '#character-selection', 
                    left: `0px`, opacity: 1 , zIndex: 9,
                    duration: 1000,  
                })

            this.$emit('onToggleCharaSelection', !this.sidebarIsOpen);
            this.sidebarIsOpen = !this.sidebarIsOpen
        }
    },
    data(){
        return {
            sidebarIsOpen: true,
        }
    }
}
</script>

<style scoped>
.feed {
  display: block; 
  columns: 3;
  width: 400px; 
  column-gap:0px;
  transform: skew(10deg); 
  border-radius: 10px; 
} 
</style>