<template>
  <div class="position-relative h-100" style="">
    <CharaSelection classes="position-absolute" styles="z-index:9;left:150px;top:60px" @onToggleCharaSelection="onToggleCharaSelection"
      :data="charas" @onselect="onSelect" :selected="currentId" @onNext="onNext" @onPrev="onPrev" /> 
    <div class="position-absolute" style="bottom:0;right:220px;z-index:2" id="CHARA-BIG-IMAGE">
        <BImg :src="currentChara.image_big" class="vh-100" style="" />
    </div> 
    <div class="position-absolute" style="bottom:0;right:220px;z-index:1;opacity:1" id="CHARA-BIG-AFFILIATION-LOGO">
        <BImg :src="currentChara.affiliation_logo" class="vh-100" style="" />
    </div> 
    <div class="position-absolute vh-100" style="top:0;right:3%;z-index:0;opacity:.03;overflow-y:hidden" id="CHARA-BIG-NAME">
      <template v-for="i in [1,2,3,4,5,6,7,8]">
        <div class="text-nowrap text-center text-white" style="font-size:24px;font-family:roboto" :key="i+'ASDSAD'">
          <h1 class="display-1 text-white" style="font-weight:900;font-family:roboto;font-size:150px;line-height:110px">{{currentChara.name.toUpperCase()}}</h1>
        </div>
      </template>
    </div> 
  </div>
</template>

<script>
import CharaSelection from "./chara-selection.vue";
import { BImg } from "bootstrap-vue";

import anime from 'animejs'

// import chara.json
import chara from "@/static/databases/chara.json";

export default {
  props: {
    styles: {
        type: String,
        default: '',
    },
    classes: {
        type: String,
        default: '',
    },
  },
  components: {
    CharaSelection,

    BImg,
  },
  computed: {
    currentChara: function () { 
      return this.charas[this.current];
    },
  },
  watch: {
    currentChara: {
      immediate: true,deep: true,
      handler: function(val){
        this.$emit('changeChara', val);
        anime({
          targets: '#CHARA-BIG-IMAGE', 
          keyframes: [
            {right: `-600px`, opacity: 0}, 
            {right: `220px`, opacity: 1 }, 
          ],   
          duration: 1000,  
        })
        setTimeout(() => {
          anime({
            targets: '#CHARA-BIG-AFFILIATION-LOGO', 
            right: `-600px`, opacity: 0, 
            duration: 1000,  
          })
        }, 100)
        setTimeout(() => {
          anime({
            targets: '#CHARA-BIG-AFFILIATION-LOGO', 
            right: `220px`, opacity: 1, 
            duration: 1000,  
          })
        }, 500)
      }
    }
  },
  methods: {
    onToggleCharaSelection(con){
      this.isCharaSelectionOpen = false
      if(con){
        anime({
          targets: '#CHARA-BIG-IMAGE', 
          right: `220px`,
          duration: 1000,  
        })
        setTimeout(() => {
          anime({
            targets: '#CHARA-BIG-AFFILIATION-LOGO', 
            right: `220px`,
            duration: 1000,  
          })
        }, 100)
      } else {
        anime({
          targets: '#CHARA-BIG-IMAGE', 
          right: `600px` ,
          duration: 1000,  
        })
        setTimeout(() => {
          anime({
            targets: '#CHARA-BIG-AFFILIATION-LOGO', 
            right: `600px`,
            duration: 1000,  
          })
        }, 100)
      }
    },
    onNext(){
      if(this.current < this.charas.length - 1){
        this.currentId = this.charas[this.current + 1].chara_id;
        this.current = this.current + 1;
      }
    },
    onPrev(){
      if(this.current > 0){
        this.currentId = this.charas[this.current - 1].chara_id;
        this.current = this.current - 1;
      }
    },
    onSelect(id){ 
      this.currentId = id;
      this.current = this.charas.findIndex(chara => chara.chara_id == id); 
    }, 
  },
  data() {
    return {
      charas: chara.charas,
      current: 0, currentId: 1,
      isCharaSelectionOpen: true
    };
  },
};
</script>

<style scoped>


</style>
