<template>
    <div :class="`${classes}`" :style="`${styles}`">
      <div :class="`feed-item-empty `" v-if="!data">
        <div class="feed-container bg-dark d-flex align-items-center justify-content-center text-white"> 
          <span class="font-weight-bolder">~ERROR~</span>
        </div>
      </div> 
      <div :class="`feed-item${selected ? '-active' : ''}`" @click="onSelect()" v-else>
        <div class="feed-container">
            <img :src="data.image_card"  />
            <div class="feed-name" style="">
                <h4 style="margin:.25em;transform:skew(-10deg);font-family:roboto;font-weight:bolder;font-size:14px" class="text-white">{{data.name}}</h4>
            </div>
        </div>
      </div> 
    </div>
</template>

<script>
export default {
    props: {
        styles: {
            type: String,
            default: '',
        },
        classes: {
            type: String,
            default: '',
        },
        data: {
            type: Object,
            default: () => {},
        },
        selected: {
            type: Boolean,
            default: false,
        },
    }, 
    methods: {
      onSelect(){
        this.$emit('select', this.data.chara_id)
      }
    }
}
</script>

<style scoped>
@keyframes card-in-anim {
  from {
    transform: scale(1) ;
    z-index: 3;
  }
  to {
    transform: scale(1.2) ;
    z-index: 3;
  }
}
@keyframes card-out-anim {
  from {
    transform: scale(1.2) ;
  }
  to {
    transform: scale(1) ;
  }
}

@keyframes name-in-anim {
  from {
    bottom: -30px; 
  }
  to {
    bottom: 0px; 
  }
}
@keyframes name-out-anim {
  from {
    bottom: 0px;
  }
  to {
    bottom: -30px;
  }
}
.feed-name {
  width: 100%;
  text-align: center;
  background: #222122;
  z-index:1;position:absolute;bottom:0
}
.feed-item:hover .feed-container .feed-name {
  display: block;
  animation-name: name-in-anim;
  animation-duration: 0.5s;
  bottom: 0px; 
}
.feed-item:not(:hover) .feed-container .feed-name {
  display: block;
  animation-name: name-out-anim;
  animation-duration: 0.5s;
  bottom: -30px;
} 

.feed-container div {
  display: none;
}  

.feed-item {
  display: block;
  break-inside:avoid;
  overflow: hidden;
  transform: skew(-10deg); 
  border: 6px solid #131515;
  border-radius: 10px;
  box-shadow: 0px 0px 30px rgba(0,0,0,1);
}
.feed-item .feed-container {
  width: 150px;
  height:250px; 
  background: red;
  cursor: pointer;
}
.feed-item img {  
    transform: skew(-10deg); 
    width: 188px;
    height:250px;
    position: absolute;
    left: -25px; 
    background: black;
    /* clip-path: polygon(0% 0, 75% 0, 100% 100%, 25% 100%); */
    object-fit: cover;
    object-position: center; 
}
.feed-item:hover {
  border: 6px solid #F5DD01; 
  animation-name: card-in-anim;
  animation-duration: 0.5s;
  transform: scale(1.2) ;
  position: relative;
  z-index: 3;
} 
.feed-item:not(:hover) {
    animation-name: card-out-anim;
    animation-duration: 0.5s;
    transform: scale(1) ;
    position: relative;
    z-index: 1;
}

.feed-item-active {
  display: block;
  animation-name: card-out-anim;
  animation-duration: 0.5s;
  break-inside:avoid;
  overflow: hidden;
  border: 6px solid #F5DD01; 
  transform: skew(0deg) scale(1); 
  border-radius: 10px;
  position: relative;
  z-index: 2; 
  box-shadow: 0px 0px 30px rgba(0,0,0,1);
}
.feed-item-active .feed-container {
  width: 150px;
  height:250px; 
  background: red;
  cursor: pointer;
}
.feed-item-active img {  
    transform: skew(-10deg); 
    width: 188px;
    height:250px;
    position: absolute;
    left: -25px; 
    background: #F7EE00;
    /* clip-path: polygon(0% 0, 75% 0, 100% 100%, 25% 100%); */
    object-fit: cover;
    object-position: center; 
}
.feed-item-active .feed-container .feed-name {
  display: block;
  animation-name: name-in-anim;
  animation-duration: 0.5s;
  bottom: 0px; 
}

.feed-item-empty {
  display: block;
  break-inside:avoid;
  overflow: hidden;
  transform: skew(0deg); 
  border: 6px solid #131515;
  border-radius: 10px;
  box-shadow: 0px 0px 30px rgba(0,0,0,1);
}
.feed-item-empty .feed-container {
  width: 150px;
  height:250px; 
  background: red; 
}
</style>