<template>
    <div class="vh-100 position-relative">
        <InventorySkillsDetail v-if="isSkillDetailOpen" @onDetailClose="onDetailClose" :currentSkill="currentSkill" />
        <CharaSelectionContainer @changeChara="changeCharacter" />
        <div id="inventory-container" class="position-absolute" style="right:3%;bottom:23%">
            <InventorySkills styles="right:3%;bottom:23%;z-index:100" classes="position-absolute"  v-if="activeMenu == 'skills'"
                @onDetailClick="onDetailClick" :selected="isSkillDetailOpen ? currentSkill : 0" :data="currentChara"  />
            <InventoryStats styles="right:3%;bottom:23%;z-index:100" classes="position-absolute" v-else-if="activeMenu == 'stats'" :data="currentChara" />
            <InventoryOverview styles="right:3%;bottom:23%;z-index:100" classes="position-absolute" v-else-if="activeMenu == 'overview'" :data="currentChara" />
        </div>
        <div class="" style="position:absolute;right:3%;bottom:15%;z-index:9">
            <Navigation @onMenuChange="onMenuChange" />
        </div>
        
    </div>
</template>

<script>
import CharaSelectionContainer from './chara-selection-container.vue';
import InventorySkills from './inventory-skills.vue';
import InventoryOverview from './inventory-overview.vue';
import InventoryStats from './inventory-stats.vue';
import InventorySkillsDetail from './inventory-skills-detail.vue';
import Navigation from './navigation.vue';

import anime from 'animejs'

export default {
    components: {
        CharaSelectionContainer, InventorySkills, InventoryStats, InventoryOverview,
        InventorySkillsDetail, Navigation
    },
    data(){
        return {
            isSkillDetailOpen : false,
            currentSkill : 1,
            activeMenu : 'overview',
            currentChara : {}
        }
    },
    methods: {
        changeCharacter(val){
            this.currentChara = val;
        },
        onMenuChange(val){
            anime({
                targets: '#inventory-container',
                right: '-600px',
                duration: 200,
                easing: 'easeInOutQuad',
            })
            setTimeout(() => {
                this.activeMenu = val;
                anime({
                    targets: '#inventory-container',
                    right: '3%',
                    duration: 200, 
                    easing: 'easeInOutQuad',
                })
            }, 500)
        },
        onDetailClick(i){
            this.isSkillDetailOpen = true;
            this.currentSkill = i;
        },
        onDetailClose(){
            this.isSkillDetailOpen = false;
        }
    }
}
</script>