<template>
    <div :class="classes" :style="styles">
      <div style="width:600px;font-family:roboto" class=""> 
        <div class="demo-wrap " style="
            border-top-right-radius: 16px;border-top-left-radius: 16px;background:black;
            border: 4px solid black; padding: .3em 1em;
        ">
        <div class="demo-content mb-0" style="">
            <h1 class=" mb-0 text-white" style="font-weight:900;opacity:.5;margin-bottom:-.0em !important;font-size:12px">AGENT INFO</h1>
        </div>
        </div>
        <div class="px-3  d-flex align-items-center" style="background:#000000;">
          <div class="mr-auto">
            <h3 class="text-white mb-0 h6" style="font-weight:900">{{data.affiliation}}</h3>
            <h3 class="text-white h1 mb-0" style="font-weight:900">{{data.name}}</h3>
            <div class="d-flex" style="gap:10px;margin-top:.5em">
              <img src="https://www.gensh.in/fileadmin/Content/Game/Elements/anemo_200.png"
                style="width:25px;height:25px;object-fit:contain" />
              <img src="https://www.gensh.in/fileadmin/Content/Game/Elements/electro_200.png"
                style="width:25px;height:25px;object-fit:contain" />
            </div>
          </div>
          <img :src="data.affiliation_logo"
            style="width:150px;height:150px;object-fit:contain" />
        </div>
        <div class="px-2 py-1" style="
            background:#000000;
            overflow: hidden;
            position: relative;
            border-bottom-right-radius: 16px;
            border-bottom-left-radius: 16px;
            border: 4px solid black;
        ">
            <img 
                class=""
                src="@/static/svgs/Diagonal Texture 2000.svg"
                alt=""
                style="
                    transform: scale(2);
                    opacity: 0.3;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    object-fit:cover;
                    height: auto;
                "
            >
            <div class="" style="position: relative;">
                <div class="row align-items-center">
                    <div class="col-lg-6 position-relative" style="padding:.3em">
                        <div class="rounded-pill d-flex" style="background:#343232;padding:.3em 1em;padding-bottom:.5em;border: 3px solid black;">
                            <star-rating :class="`m-auto`" :star-size="18" :show-rating="false" read-only :rating="1" :max-rating="5"
                                inactive-color="#808080" active-color="#FCFCFC" border-color="black" animate />
                        </div> 
                    </div>
                    <div class="col-lg-6 position-relative" style="padding:.3em">
                        <div class="rounded-pill text-center" style="background:#343232;padding:.5em 1em;border: 3px solid black;"> 
                            <i><h4 class="mb-0 text-white" style="font-size:16px;font-weight:900">Lv. 10 / 90</h4></i>
                        </div> 
                    </div>
                    <div class="col-lg-6" style="padding:.3em" v-for="(item,i) in data.stats" :key="i+'STAT'+data.chara_id">
                        <div class="rounded-pill d-flex justify-content-between align-items-center px-2" style="background:#000000;padding:.5em 1em">
                            <span style="font-size:16px;font-weight:900" class="text-muted">{{item.name}}</span>
                            <span style="font-size:16px;font-weight:900" class="text-muted">{{item.value}}</span>
                        </div>
                    </div> 
                    <div class="col-lg-6" style="padding:.3em">
                        <div class="rounded-pill d-flex justify-content-between align-items-center px-2" style="background:#000000;padding:.5em 1em">
                            <span style="font-size:16px;font-weight:900" class="text-muted">~</span> 
                            <span style="font-size:16px;font-weight:900" class="text-muted">EMPTY</span> 
                            <span style="font-size:16px;font-weight:900" class="text-muted">~</span> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
</template>

<script>

import StarRating from 'vue-star-rating'
export default {
    props: {
        styles: {
            type: String,
            default: '',
        },
        classes: {
            type: String,
            default: '',
        },
        data: {
            type: Object,
            default: () => ({}),
        }
    },
    components: {
        StarRating
    }
}
</script>

<style scoped>  
.demo-wrap {
  position: relative;
}

.demo-wrap:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  border-top-right-radius: 16px;border-top-left-radius: 16px;
  background-image: url('../../../static/svgs/Diagonal Texture 2000.svg');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.demo-content {
  position: relative;
}
</style>