<template>
    <div :class="classes" :style="styles">
      <div style="width:600px;font-family:roboto" class=""> 
        <div class="demo-wrap " style="
            border-top-right-radius: 16px;border-top-left-radius: 16px;background:black;
            border: 4px solid black; padding: .3em 1em;
        ">
        <div class="demo-content mb-0" style="">
            <h1 class=" mb-0 text-white" style="font-weight:900;opacity:.5;margin-bottom:-.0em !important;font-size:12px">SKILLS INFO</h1>
        </div>
        </div>
        <div class="p-2 d-flex align-items-center" style="background:#000000;gap:10px">
            <div v-for="(item,i) in data.skills" :key="item.skill_id+'SKILL'" :class="`skills-card ${selected.skill_id == item.skill_id ? 'active' : ''}`" @click="onDetailClick(i)">
                <div class="p-2 skills-card-img" style="">
                    <img :src="item.image"
                style="width:100%;object-fit:contain" />
                </div>
                <div style="background:#000000;padding:.5em 1em;border-bottom-left-radius:20px;border-bottom-right-radius:20px" class="text-center">
                    <h1 class="mb-0 text-white h3" style="font-weight:900;font-family:roboto"><i>Lv.{{item.level}}</i></h1>
                </div>
            </div>
        </div>
        <div class="px-2 py-1" style="
            background:#000000;
            overflow: hidden;
            position: relative;
            border-bottom-right-radius: 16px;
            border-bottom-left-radius: 16px;
            border: 4px solid black;
        ">
            <img 
                class=""
                src="@/static/svgs/Diagonal Texture 2000.svg"
                alt=""
                style="
                    transform: scale(2);
                    opacity: 0.3;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    object-fit:cover;
                    height: auto;
                "
            >
            <div class="" style="position: relative;">
                <div class="row align-items-center justify-content-center"> 
                    <div class="talent-wrap">
                        <div class="talent-content rounded-pill d-flex" :style="`height: 50px; width: 500px; padding: 0.5em;z-index:2;`">
                            <template v-for="(item, i) in data.talents">
                                <div @click="onSelectTalent(i)" :class="`h-100 w-100 prev-talent ${selected.talent_id == item.talent_id ? 'active' : ''}`" style="" v-if="i == 0" :key="i+'TALENT'+data.chara_id">
                                    Talent {{i+1}}
                                </div> 
                                <div @click="onSelectTalent(i)" :class="`h-100 w-100 next-talent ${selected.talent_id == item.talent_id ? 'active' : ''}`" style="margin-left:-.8em" v-else-if="i == data.talents.length - 1" :key="i+'TALENT'+data.chara_id" >
                                    Talent {{i+1}}
                                </div> 
                                <div @click="onSelectTalent(i)" :class="`h-100 w-100 mid-talent ${selected.talent_id == item.talent_id ? 'active' : ''}`" style="margin-left:-.8em" v-else :key="i+'TALENT'+data.chara_id">
                                    Talent {{i+1}}
                                </div>  
                            </template>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
      </div> 
    </div> 
</template>

<script>

import StarRating from 'vue-star-rating'
export default {
    props: {
        styles: {
            type: String,
            default: '',
        },
        classes: {
            type: String,
            default: '',
        },
        selected : {
            type: Number,
            default: false,
        },
        data: {
            type: Object,
            default: () => {}
        }
    },
    components: {
        StarRating
    },
    methods: {
        onSelectTalent(i){
            this.$emit('onDetailClick', this.$props.data.talents[i])
        },
        onDetailClick(i){
            this.$emit('onDetailClick', this.$props.data.skills[i])
        }
    }
}
</script>

<style scoped>  
.demo-wrap {
  position: relative;
}

.demo-wrap:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  border-top-right-radius: 16px;border-top-left-radius: 16px;
  background-image: url('../../../static/svgs/Diagonal Texture 2000.svg');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.demo-content {
  position: relative;
}


.skills-card {
    border:3px solid #222222;border-radius:20px;cursor:pointer
}
.skills-card.active  {
    border:3px solid #F7EE00;
} 
.skills-card-img {
    background:#4B4B4B;border-top-left-radius:20px;border-top-right-radius:20px
}
.skills-card-img:hover {
    background:#2B2C2C;border-top-left-radius:20px;border-top-right-radius:20px
}

.talent-wrap {
  position: relative;
  background: black;
    border-radius: 24px;
}

.talent-wrap:before {
    content: ' ';
    border-radius: 24px;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  border: 4px solid black;
  background-image: url('../../../static/svgs/Diagonal Texture 2000.svg');
  background-repeat: no-repeat; 
}

.talent-content {
  position: relative;
}

.prev-talent {
    font-family: roboto;
    font-style: italic;
    border-top-left-radius: 16px; border-bottom-left-radius: 16px;
    display: flex; font-weight: 900; color: white;
    align-items: center; justify-content: center;
    clip-path: polygon(0% 0%, 100% 0, 93% 100%, 0% 100%);
    cursor: pointer;
    background:#4B4B4B; color: white;
}  

.prev-talent.active {
    background:#F7EE00;
    color:black
}
.mid-talent.active {
    background:#F7EE00;
    color:black
}
.next-talent.active {
    background:#F7EE00;
    color:black
}

.mid-talent {
    font-family: roboto;
    font-style: italic;
    border-top-left-radius: 16px; border-bottom-left-radius: 16px;
    display: flex; font-weight: 900; color: white;
    align-items: center; justify-content: center;
    clip-path: polygon(12% 0%, 100% 0, 93% 100%, 5% 100%);
    /* margin: 0em -1em; */
    cursor: pointer;
    background:#4B4B4B; color: white;
}  

.next-talent {
    font-family: roboto; font-style: italic;
    border-top-right-radius: 16px; border-bottom-right-radius: 16px;
    display: flex; font-weight: 900; color: white;
    align-items: center; justify-content: center;
    clip-path: polygon(12% 0%, 100% 0, 100% 100%, 5% 100%);
    cursor: pointer;
    background:#4B4B4B; color: white;
} 
</style>