<template>
    <div class="vh-100 vw-100 position-absolute layout-wrap" style="top:0;left:0;z-index:99;opacity:.9">
        <img src="@/static/svgs/Back Button.svg" class="position-absolute" style="top:5%;right:5%;width:60px;cursor:pointer"  />
        <img src="@/static/svgs/Close Button.svg" class="position-absolute" style="top:5%;right:8%;width:60px;cursor:pointer;transform: scaleY(-1);" @click="onDetailClose" />
        <div class='p-1 position-absolute' style='border:3px solid #4B4B4B;background:#000000;min-width:fit-content;width:50%;left:3%;top:5%;border-radius:10px'>
            <h1 class='text-white mb-0 h3' style='font-family:roboto;font-weight:900;'>
                {{currentSkill.name}}
            </h1>
        </div> 
        <div class='text-white position-absolute' style='left:3%;top:150px;max-width:50%;min-width:300px' v-html="currentSkill.description">
            <strong class='h4 text-white'>What is Lorem Ipsum?</strong> <br/>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            <br/><br/>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            <br/> <br/>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </div>
    </div>
</template>

<script>
export default {
    props: { 
        currentSkill: {
            type: Object,
            default: () => {}
        }
    },
    methods: {
        onDetailClose(){
            this.$emit('onDetailClose')
        }
    }
}
</script>

