<template>
    <div class="nav-wrap">
    <div class="nav-content rounded-pill d-flex" :style="`height: 50px; width: 600px; padding: 0.5em;z-index:2;`">
        <div :class="`h-100 w-100 prev-nav ${active_menu == 'overview' ? 'active' : ''}`" style=""  @click="active_menu = 'overview'" >
            Overview
        </div> 
        <div :class="`h-100 w-100 mid-nav ${active_menu == 'stats' ? 'active' : ''}`" style="" @click="active_menu = 'stats'" >
            Base Stats
        </div> 
        <div :class="`h-100 w-100 next-nav ${active_menu == 'skills' ? 'active' : ''}`" style=""  @click="active_menu = 'skills'" >
            Skills
        </div> 
    </div>
    </div> 
</template>

<script>
export default {
    data(){
        return {
            active_menu : 'overview'
        }
    },
    watch: {
        active_menu(val){
            this.$emit('onMenuChange', val)
        }
    }
}
</script>

<style > 
.nav-wrap {
  position: relative;
  background: black;
    border-radius: 24px;
}

.nav-wrap:before {
    content: ' ';
    border-radius: 24px;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  border: 4px solid black;
  background-image: url('../../../static/svgs/Diagonal Texture 2000.svg');
  background-repeat: no-repeat; 
}

.nav-content {
  position: relative;
}

.prev-nav {
    font-family: roboto;
    font-style: italic;
    border-top-left-radius: 16px; border-bottom-left-radius: 16px;
    display: flex; font-weight: 900; color: white;
    align-items: center; justify-content: center;
    clip-path: polygon(0% 0%, 100% 0, 93% 100%, 0% 100%);
    cursor: pointer;
} 

@keyframes active-menu-anim {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
} 

.prev-nav.active { 
    background:#F7EE00; color: black;
    animation: active-menu-anim 0.75s ease-in-out infinite alternate; 
}  

.mid-nav {
    font-family: roboto;
    font-style: italic;
    border-top-left-radius: 16px; border-bottom-left-radius: 16px;
    display: flex; font-weight: 900; color: white;
    align-items: center; justify-content: center;
    clip-path: polygon(12% 0%, 100% 0, 93% 100%, 5% 100%);
    margin: 0em -1em;
    cursor: pointer;
} 

.mid-nav.active { 
    background:#F7EE00; color: black;
    animation: active-menu-anim 0.75s ease-in-out infinite alternate; 
}  

.next-nav {
    font-family: roboto; font-style: italic;
    border-top-right-radius: 16px; border-bottom-right-radius: 16px;
    display: flex; font-weight: 900; color: white;
    align-items: center; justify-content: center;
    clip-path: polygon(12% 0%, 100% 0, 100% 100%, 5% 100%);
    cursor: pointer;
}

.next-nav.active { 
    background:#F7EE00; color: black;
    animation: active-menu-anim 0.75s ease-in-out infinite alternate; 
}  
</style>