<template>
  <div class="layout-wrap">
    <div class="layout-content"> 
      <div class="" style=""> 

        <div class="position-relative vh-100" style="z-index:99">
          <img style="max-height:480px;object-fit:contain" class="w-100" src="https://webstatic.hoyoverse.com/upload/op-public/2022/07/27/ab145f65257276ee64c425fe4ee5cc76_1853447501792438221.png" />
          <CharaFactionSelect />
        </div>

        <CharacterScreen/>


        <!-- <div class="vh-100 " style="">
          <div class="card shadow-lg rounded-lg h-100 position-relative d-flex" style="z-index:99">
            <CharaBig classes="" styles="" :position="position" />
          </div>
        </div> -->

      </div>
    </div>
  </div>

</template>

<script>
import CharaBig from "./components/home/chara-big.vue"; 
import CharaFactionSelect from './components/home/chara-faction-select.vue'; 
import CharaNav from './components/home/chara-nav.vue';

import CharacterScreen from './components/character-screen/index.vue';

export default {
  components: {
    CharaBig,CharaFactionSelect,CharaNav,
    CharacterScreen,
    
  },
  methods: {},
  data() {
    return {
      position: [], 
      
    };
  },
  created() {
    // Only execute this code on the client side, server sticks to [0, 0]
    if (!this.$isServer) {
      this._scrollListener = () => {
        // window.pageX/YOffset is equivalent to window.scrollX/Y, but works in IE
        // We round values because high-DPI devies can provide some really nasty subpixel values
        this.position = [Math.round(window.pageXOffset), Math.round(window.pageYOffset)];
      };

      // Call listener once to detect initial position
      this._scrollListener();

      // When scrolling, update the position
      window.addEventListener("scroll", this._scrollListener);
    }
  },
  beforeDestroy() {
    // Detach the listener when the component is gone
    window.removeEventListener("scroll", this._scrollListener);
  },
};
</script>

<style>  
.swiper-slide img {
  opacity: .5;
}
.swiper-slide-active img {
  opacity: 1;
}
.swiper-slide-active {
  background: #1B1B1B;
}


.layout-wrap {
  position: relative;
  background:#131515
}

.layout-wrap:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  border-top-right-radius: 16px;border-top-left-radius: 16px;
  background-image: url('../static/svgs/Diagonal Texture 2000.svg');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.layout-content {
  position: relative;
}
</style>
