<template>
<div>
    <div class="w-100" style="max-height:100vh;overflow-y:scroll;">
        <navbar fixed />
        <div class="d-flex flex-column align-items-center justify-content-end w-100 position-relative h-100 pb-2" style="margin-top:4em">
            <div class="w-100" >
                <div class="container px-3 " style="padding:0em 20%">
                    <div class="w-100 text-center mb-3" id="inventory-title">
                        <span class="display-4 font-weight-bolder text-white">Tier List Overview</span>
                    </div>
                    <div class="rounded bg-light px-4 mx-1 position-relative mb-2" style="transform: skew(-10deg);background: linear-gradient(270deg, #FFFFFF 0.24%, #81DBE0 73.84%); max-height:fit-content">
                        <div class="row" style="transform:skew(10deg)">
                            <div class="col-lg-12 py-2">
                                <label class="display-4 font-weight-bolder text-light">Upcoming Characters</label>
                                <div class="d-flex align-items-center">
                                    <label class="h1 text-light font-weight-bolder">SHENHE</label>
                                    <label class="h4 ml-1 text-light">Cryo • Polearm</label> 
                                </div>
                                <div class="d-flex">
                                    <span class="rounded-pill bg-white" style="width:30px;height:10px"></span>
                                    <span class="rounded-pill bg-white mx-1" style="width:10px;height:10px"></span>
                                    <span class="rounded-pill bg-white" style="width:10px;height:10px"></span>
                                </div>
                            </div> 
                            <img src="../../../assets/character-image.png" class="h-100 position-absolute image-upcoming" />
                            <img src="../../../assets/element-logo.png" class="h-100 position-absolute " style="top:0;z-index:-1;" />
                        </div>
                    </div>
                    <div class="row">    
                        <div class="col-lg-12 col-xl-12">
                            <div class="card" style="border-radius:15px">
                                <div class="card-body px-0"> 
                                    <div class="row px-2">
                                        <div class="col-lg-auto">
                                            <b-form-radio-group 
                                                v-model="selected"
                                                :options="options" 
                                                button-variant="light" 
                                                buttons
                                            ></b-form-radio-group> 
                                        </div>
                                        <div class="col-lg-auto">
                                            <b-form-radio-group 
                                                v-model="selected"
                                                :options="options2" 
                                                button-variant="light" 
                                                buttons
                                            ></b-form-radio-group> 
                                        </div>
                                        <div class="col-lg">
                                            <b-input-group class="input-group-merge">
                                                <b-input-group-prepend is-text>
                                                <i class="bx bx-search" />
                                                </b-input-group-prepend>
                                                <b-form-input placeholder="Search" />
                                            </b-input-group>
                                        </div>
                                    </div>
                                    <div class="row px-2 justify-content-center">
                                        <div class="col-lg-6">
                                            <div class="rounded d-flex flex-wrap px-1 mt-1 bg-light border" style="gap:10px;padding:.5em 0">
                                                <img src="../../../assets/anemo_small.png" class="w-100" style="max-width:30px" /> 
                                                <img src="../../../assets/cryo_small.png" class="w-100" style="max-width:30px" /> 
                                                <img src="../../../assets/electro_small.png" class="w-100" style="max-width:30px" /> 
                                                <img src="../../../assets/dendro_small.png" class="w-100" style="max-width:30px" /> 
                                                <img src="../../../assets/geo_small.png" class="w-100" style="max-width:30px" /> 
                                                <img src="../../../assets/hydro_small.png" class="w-100" style="max-width:30px" /> 
                                                <img src="../../../assets/pyro_small.png" class="w-100" style="max-width:30px" /> 
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="rounded d-flex flex-wrap px-1  mt-1 bg-light border" style="gap:10px;padding:.5em 0">
                                                <img src="../../../assets/sword_small.png" class="w-100" style="max-width:30px" />  
                                                <img src="../../../assets/polearm_small.png" class="w-100" style="max-width:30px" />  
                                                <img src="../../../assets/claymore_small.png" class="w-100" style="max-width:30px" />  
                                                <img src="../../../assets/bow_small.png" class="w-100" style="max-width:30px" />  
                                                <img src="../../../assets/catalyst_small.png" class="w-100" style="max-width:30px" />  
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center p-2 mt-1" style="background:#FBD961">
                                        Important note: This tier list is based on something.
                                    </div>
                                    <div class="px-2">
                                        <span v-for="data in [
                                            {title:'SS', color: 'linear-gradient(90deg, #EB9F2C 3.7%, rgba(235, 159, 44, 0) 50%), #F2F2F2'},
                                            {title:'S', color: 'linear-gradient(90deg, #AD7CC7 3.7%, rgba(173, 124, 199, 0) 50%), #F2F2F2'},
                                            {title:'A', color: 'linear-gradient(90deg, #59A4D1 3.7%, rgba(89, 164, 209, 0) 50%), #F2F2F2'},
                                            {title:'B', color: 'linear-gradient(90deg, #64B991 3.7%, rgba(100, 185, 145, 0) 50%), #F2F2F2'},
                                            {title:'C', color: 'linear-gradient(90deg, #8C8C8C 3.7%, rgba(140, 140, 140, 0) 50%), #F2F2F2'},
                                        ]" :key="data">
                                        <div class="p-1 mt-2 d-flex align-items-center" :style="`
                                            background: ${data.color} ;
                                            box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.15);
                                            border-radius: 8px;`"
                                            >
                                            <label class="display-1 mb-0 font-weight-bolder w-100 text-center" style="max-width:180px">{{data.title}}</label>
                                            <div class="rounded-lg" style="overflow:scroll;">
                                                <div class="d-flex" style="gap:20px;">
                                                    <span v-for="item in [1,2,3,4,5,6]" :key="item">
                                                    <div class="card m-0 shadow-lg" style="width:220px;">
                                                        <div class="card-body d-flex align-items-center" style="padding:1em .5em">
                                                            <img src="../../../assets/ayaka_icon.png" style="width:70px;height:70px" />
                                                            <div>
                                                                <label class="font-weight-bolder h5">Kamisato Ayaka</label><br/>
                                                                <label class="h5">Main DPS</label>
                                                                <div class="d-flex" style="gap:5px">
                                                                    <img src="../../../assets/cryo_small.png" class="w-100" style="max-width:18px" /> 
                                                                    <img src="../../../assets/sword_small.png" class="w-100" style="max-width:18px" />  
                                                                    <div class="bg-secondary d-flex rounded" style="width:18px;height:18px">
                                                                        <span class="m-auto text-white font-weight-bolder" style="font-size:9px">C0</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    </span>
                                                </div>
                                            </div>
                                        </div> 
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
        <div class="card mb-0" style="border-radius:0">
            <div class="card-body py-3">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            <label class="h1 font-weight-bolder mb-1">Logo WEB</label>
                            <p>Lorem ipsum dolor sit kampret. Don’t have any idea what to write this footer yet</p>
                            <p class="mt-2">© LogoWeb.io 2022</p>
                        </div>
                        <div class="col-lg-4">
                            <label class="h1 font-weight-bolder mb-1">Other links</label><br/>
                            <label class="font-weight-bolder h5">Contacts</label><br/>
                            <label class="font-weight-bolder h5">Privacy Policy</label><br/>
                            <label class="font-weight-bolder h5">Cookie Setting</label>
                        </div>
                        <div class="col-lg-4">
                            <label class="h1 font-weight-bolder mb-1">Find us on</label>
                            <div class="d-flex align-items-center" style="gap:15px">
                                <img src="../../../assets/yt.png" />
                                <img src="../../../assets/dc.png" />
                                <img src="../../../assets/fb.png" />
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
    <img src="../../../assets/bg-tierlist.png" class="w-100 h-100 position-absolute" style="object-fit:cover;top:0;z-index:-1;filter:brightness(50%)" />
</div>
</template>

<script>  

import store from '@/store'
import {BFormGroup, BFormRadioGroup, BInputGroup, BInputGroupPrepend, BFormInput } from 'bootstrap-vue'
import Navbar from '../components/navbar.vue'

// import dummy from '../../../assets/dummy_data.json'

export default {
    props: {
        datas: {
            type: Array,
            default: () => []
        },
    },
    components: { 
        BFormGroup, BFormRadioGroup,  BInputGroup, BInputGroupPrepend, BFormInput,
        Navbar
    },
    data(){
        return {
            selected: 'radio1',
            options: [
                { text: 'All Class', value: 'all' },
                { text: 'Main DPS', value: 'radio2' },
                { text: 'Sub DPS', value: 'radio3' },
                { text: 'Utility', value: 'radio4' }
            ],
            options2: [
                { text: 'All C', value: 'all' },
                { text: 'C0', value: 'radio2' },
                { text: 'C6', value: 'radio3' }, 
            ],
        }
    },
    watch: { 
    },
    methods:{  
    },  
    mounted(){  
    }
}
</script> 

<style scoped>
    .image-upcoming {
        top:0;z-index:-1;right:0 !important; 
        -webkit-mask-image: linear-gradient(to right, transparent 10%, black 75%);
        mask-image: linear-gradient(to right, transparent 10%, black 75%);
    } 
    ::-webkit-scrollbar {
        height: 0px;              /* height of horizontal scrollbar ← You're missing this */
        width: 0px;               /* width of vertical scrollbar */
        border: unset;
    }
</style>
