@keyframes btn-zenless-in-anim {
    from {
      border: 4px solid #575759; 
      background: #121212;
      color: white;
    }
    to {
      border: 4px solid black; 
      background: #F8F8F8;
      color: black;
    }
  }
  @keyframes btn-zenless-out-anim {
    from {
      border: 4px solid black; 
      background: #F8F8F8;
      color: black;
    }
    to {
      border: 4px solid #575759; 
      background: #121212;
      color: white;
    }
  }
  
  .btn-zenless { 
      border: 4px solid #575759; 
      padding: .5em 1em;
      background: #121212;
      color: white;
      font-weight: bolder;
      font-family: roboto;
      font-size: 18px;
      cursor: pointer;
  }
  .btn-zenless:hover {
      animation-name: btn-zenless-in-anim;
      animation-duration: 0.5s;
      border: 4px solid black; 
      background: #F8F8F8;
      color: black;
  }
  .btn-zenless:not(:hover){
      animation-name: btn-zenless-out-anim;
      animation-duration: 0.5s;
      border: 4px solid #575759; 
      background: #121212;
      color: white;
  }