<template>
  <b-navbar toggleable="lg" type="light" variant="light" :class="`py-1 ${fixed ? '' : 'position-absolute'} w-100`" style="z-index:99">
    <span class="container">
      <b-navbar-brand href="#">LogoWeb</b-navbar-brand>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
            <b-nav-item href="#">Home</b-nav-item>
            <b-nav-item href="#">Tier List</b-nav-item>
            <b-nav-item href="#">Gacha Sim</b-nav-item>
            <b-nav-item href="#" class="position-relative custom-dropdown-item active"> 
                Builder 
                <div class="position-absolute bg-light rounded p-1 px-2 mt-3 custom-dropdown-item-draw" style="left:-80%;">
                    <div class="d-flex" style="gap:20px;">
                        <router-link to="/user/inventory/artifacts" class="text-dark" style="cursor:pointer">Inventory</router-link>
                        <router-link to="/user/builds" class="text-secondary" style="cursor:pointer">Builds</router-link>
                    </div>
                </div>
            </b-nav-item>
        </b-navbar-nav>

        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <button class="btn btn-outline-primary mx-1">Redeem Codes</button>
          <b-button variant="primary" class=""> Support Us </b-button>
        </b-navbar-nav>
      </b-collapse>
    </span>
  </b-navbar>
</template>

<script>
import {
  BNavbar,
  BCollapse,
  BNavbarNav,
  BNavItem,
  BDropdownItem,
  BNavItemDropdown,
  BNavbarToggle,
  BNavbarBrand,
  BFormInput,
  BButton,
} from "bootstrap-vue";
export default {
  props: {
    fixed: Boolean
  },
  components: {
    BNavbar,
    BCollapse,
    BNavbarNav,
    BDropdownItem,
    BNavItemDropdown,
    BNavbarToggle,
    BNavbarBrand,
    BFormInput,
    BButton,
    BNavItem,
  },
};
</script>

<style scoped>
li {
    border: 3px solid #F6F6F6;
    color: black;
    font-weight: bolder;
}

.custom-dropdown-item.active {
    border-radius: 6px;
    border-bottom: 2px solid rgba(34, 41, 47, 0.5);
}

.custom-dropdown-item.active .custom-dropdown-item-draw {
    display: inline; 
}  

.custom-dropdown-item-draw {
    display: none;
    transform: perspective(10px) rotateX(-1deg);
} 

.custom-dropdown-item:hover {
    border-radius: 6px;
    border-bottom: 2px solid rgba(34, 41, 47, 0.5);
}

.custom-dropdown-item:hover .custom-dropdown-item-draw {
    display: inline;
}

.navbar-toggler.collapsed {
    display: none;
}

</style>