<template>
  <div>
    <!-- Table Container Card -->
    <b-overlay :show="isLoading" rounded="sm" opacity=".3">
      <b-card no-body class="mb-0">
        <div class="m-2">
          <!-- Table Top -->
          <b-row>
            <!-- Per Page -->
            <b-col
              cols="12"
              md="6"
              class="d-flex align-items-center justify-content-start mb-1 mb-md-0"
            >
              <v-select
                v-model="perPage"
                :options="perPageOptions"
                :clearable="false"
                class="per-page-selector d-inline-block mx-50"
              />
            </b-col>

            <!-- Search -->
            <b-col cols="12" md="6">
              <div class="d-flex justify-content-end">
                <!-- <b-input-group class="input-group-merge" style="max-width: 250px">
                  <b-input-group-prepend is-text>
                    <feather-icon icon="SearchIcon" />
                  </b-input-group-prepend>
                  <b-form-input placeholder="Search" v-model="search" />
                </b-input-group> -->
                <button class="btn btn-primary btn-icon ml-1" @click="onEdit({})">
                  <i class="bx bx-plus"></i>
                </button>
              </div>
            </b-col>
          </b-row>
        </div>

        <b-table
          class="position-relative"
          :items="datas"
          responsive
          :fields="fields"
          primary-key="id"
          :sort-by.sync="sortBy"
          show-empty
          empty-text="No matching records found"
          :sort-desc.sync="isSortDirDesc"
        >
          <template #empty="">
            <h5>Tidak ada data ditemukan</h5>
          </template>
          <template #cell(wt_icon)="data">
            <b-avatar :src="data.item.wt_icon"> </b-avatar>
          </template>

          <template #cell(artifact_artiset_id)="data"> 
            {{ data.item.artifacts_set.artiset_name }}<br/>
            <small class="text-muted">{{ data.item.artifacts_set.artiset_key }}</small>
          </template>
          <template #cell(artifact_name)="data"> 
            {{ data.item.artifact_name }}<br/> 
          </template>
          <template #cell(artifact_icon)="data">
            <b-avatar :src="data.item.artifact_icon"> </b-avatar>
          </template>
          <template #cell(artifact_rarity)="data">
            <b-form-rating class="disabled"
              :value="data.item.artifact_rarity"
              variant="warning"
              readonly
              no-border
            />
          </template>
          <template #cell(artifact_type)="data">
            <span v-if="typeof data.item.artifact_type == 'string'">
              {{ data.item.artifact_type[0].toUpperCase() + data.item.artifact_type.slice(1) }}
            </span>
            <span v-else-if="data.item.artifact_type">{{
              data.item.artifact_type.title[0].toUpperCase() + data.item.artifact_type.title.slice(1)
            }}</span>
          </template>
 
          <template #cell(artilvl_stattype)="data">
            {{data.item.equipment_stat.eqstat_name}}
          </template>
          <template #cell(artilvl_rarity)="data">
            <b-form-rating class="disabled"
              :value="data.item.artilvl_rarity"
              variant="warning"
              readonly
              no-border
            />
          </template>

          <template #cell(chara_icon)="data">
            <b-avatar :src="data.item.artifact_icon"> </b-avatar>
          </template>
          <template #cell(chara_rarity)="data">
            <b-form-rating class="disabled"
              :value="data.item.chara_rarity"
              variant="warning"
              readonly
              no-border
            />
          </template>
          <template #cell(chara_wt_id)="data">
            {{data.item.weapon_type.wt_name}}
          </template>
          <template #cell(chara_el_id)="data">
            {{data.item.element.el_name}}
          </template>

          <template #cell(el_image)="data">
            <b-avatar :src="data.item.artifact_icon"> </b-avatar>
          </template> 

          <template #cell(eqstat_is_percentage)="data">
            <span v-if="typeof data.item.eqstat_is_percentage == 'boolean'">
              <div :class="`badge bg-${data.item.eqstat_is_percentage ? 'primary' : 'danger'}`">{{data.item.eqstat_is_percentage ? 'Yep!' : 'Nope'}}</div>
            </span>
            <span v-else>
              <div :class="`badge bg-${data.item.eqstat_is_percentage.value ? 'primary' : 'danger'}`">{{data.item.eqstat_is_percentage.value ? 'Yep!' : 'Nope'}}</div>
            </span>
          </template>

          <template #cell(weapon_icon)="data">
            <b-avatar :src="data.item.weapon_icon"> </b-avatar>
          </template>
          <template #cell(weapon_rarity)="data">
            <b-form-rating class="disabled"
              :value="data.item.weapon_rarity"
              variant="warning"
              readonly
              no-border
            />
          </template>
          <template #cell(weapon_name)="data"> 
            {{ data.item.weapon_name }}<br/>
            <small class="text-muted">{{ data.item.weapon_key }}</small>
          </template>
          <template #cell(weapon_wt_id)="data"> 
            {{ data.item.weapons_type.wt_name }}
          </template>
          <template #cell(weapon_main_stattype)="data"> 
            {{ data.item.main_stat.eqstat_name }}
          </template>
          <template #cell(weapon_sub_stattype)="data"> 
            {{ data.item.sub_stat.eqstat_name }}
          </template>
          <template #cell(weapon_description)="data"> 
            <span v-html="data.item.weapon_description"></span>
          </template>

          <template #cell(weaplvls_weapon_id)="data"> 
            {{ data.item.weapon.weapon_name }}
          </template>
          <template #cell(weaplvls_main_statvalue)="data"> 
            {{ data.item.weapon.main_stat.eqstat_name }} : <strong>{{data.item.weaplvls_main_statvalue}}{{data.item.weapon.main_stat.eqstat_is_percentage ? '%' : ''}}</strong> 
          </template>
          <template #cell(weaplvls_sub_statvalue)="data"> 
            {{ data.item.weapon.sub_stat.eqstat_name }} : <strong>{{data.item.weaplvls_sub_statvalue}}{{data.item.weapon.sub_stat.eqstat_is_percentage ? '%' : ''}}</strong> 
          </template>

          <template #cell(actions)="data">
            <button
              class="btn btn-sm btn-relief-primary d-flex"
              @click="onEdit(data.item)"
            >
              <i class="bx bx-edit mr-1"></i>Edit
            </button>
          </template>
        </b-table>

        <div class="mx-2 mb-2">
          <b-row>
            <b-col
              cols="12"
              sm="6"
              class="d-flex align-items-center justify-content-center justify-content-sm-start"
            >
              <span class="text-muted"
                >Showing {{ currentPage * perPage - perPage + 1 }} to
                {{ currentPage * perPage }} of {{ totalRows }} entries</span
              >
            </b-col>
            <!-- Pagination -->
            <b-col
              cols="12"
              sm="6"
              class="d-flex align-items-center justify-content-center justify-content-sm-end"
            >
              <b-pagination
                v-model="currentPage"
                :total-rows="totalRows"
                :per-page="perPage"
                first-number
                last-number
                class="mb-0 mt-1 mt-sm-0"
                prev-class="prev-item"
                next-class="next-item"
              >
                <template #prev-text>
                  <feather-icon icon="ChevronLeftIcon" size="18" />
                </template>
                <template #next-text>
                  <feather-icon icon="ChevronRightIcon" size="18" />
                </template>
              </b-pagination>
            </b-col>
          </b-row>
        </div>
      </b-card>
    </b-overlay>
  </div>
</template>

<script>
import {
  BCardText,
  BFormRating,
  BOverlay,
  BModal,
  BCard,
  BRow,
  BCol,
  BFormInput,
  BInputGroup,
  BInputGroupPrepend,
  BFormTextarea,
  BButton,
  BTable,
  BMedia,
  BAvatar,
  BLink,
  BBadge,
  BDropdown,
  BDropdownItem,
  BPagination,
} from "bootstrap-vue";
import vSelect from "vue-select"; 

export default {
  components: {
    BCardText,
    BFormRating,
    BOverlay,
    BModal,
    BCard,
    BRow,
    BCol,
    BFormInput,
    BInputGroup,
    BInputGroupPrepend,
    BFormTextarea,
    BButton,
    BTable,
    BMedia,
    BAvatar,
    BLink,
    BBadge,
    BDropdown,
    BDropdownItem,
    BPagination,

    vSelect,
  },
  props: {
    datas: Array,
    fields: Array,
  },
  methods: {
    onEdit(item) {
      this.$emit("toggleModal", item);
    },
  },
  computed: {
    isLoading: function () {
      return false
    },
    pagination: function () {
      return {
        offset: (this.currentPage - 1) * this.perPage,
        limit: this.perPage,
      };
    },
    totalRows: function () {
      return this.datas?.totalRows;
    },
  },
  watch: {
    async pagination(val) {
      this.$emit("paginate", val);
    },
  },
  data() {
    return {
      currentPage: 1,
      perPage: 10,
      perPageOptions: [1, 10, 25, 50, 100],
      search: "",
      sortBy: "",
      isSortDirDesc: false,
    };
  },
};
</script>

<style lang="scss" scoped>
.per-page-selector {
  width: 90px;
}
</style>

<style lang="scss">
@import "@core/scss/vue/libs/vue-select.scss";
</style>
