<template>
    <div class="card mb-0" style="border-radius:0">
        <div class="card-body py-3">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <label class="h1 font-weight-bolder mb-1">Logo WEB</label>
                        <p>Lorem ipsum dolor sit kampret. Don’t have any idea what to write this footer yet</p>
                        <p class="mt-2">© LogoWeb.io 2022</p>
                    </div>
                    <div class="col-lg-4">
                        <label class="h1 font-weight-bolder mb-1">Other links</label><br/>
                        <label class="font-weight-bolder h5">Contacts</label><br/>
                        <label class="font-weight-bolder h5">Privacy Policy</label><br/>
                        <label class="font-weight-bolder h5">Cookie Setting</label>
                    </div>
                    <div class="col-lg-4">
                        <label class="h1 font-weight-bolder mb-1">Find us on</label>
                        <div class="d-flex align-items-center" style="gap:15px">
                            <img src="@/assets/yt.png" />
                            <img src="@/assets/dc.png" />
                            <img src="@/assets/fb.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</template>

<script>
export default {
    
}
</script>