<template>
    <b-tab>
        <template #title>
            <img src="https://firebasestorage.googleapis.com/v0/b/teyvat-archive.appspot.com/o/Assets%2FArtifact.png?alt=media&token=5180bcdb-89ae-48ab-a2f1-05eda8eb2ce4" />
            <span>Artifacts</span>
        </template>

        <!-- <div class="pl-4 pt-1">
            <swiper
                class="swiper-centered-slides"
                :options="swiperOptions" 
            > 
                <swiper-slide
                v-for="data in swiperData"
                :key="data.text"
                class="rounded swiper-shadow p-2" style="width:fit-content;background: linear-gradient(135deg, #A56D19 0%, #EB9F2C 100%);border-radius: 10px;"
                >
                    <div>
                        <h1 class="text-white font-weight-bolder">Main DPS Set</h1>
                        <div class="d-flex align-items-center">
                            <h6 class="text-white mb-0 mr-1">Avg. Substate Efficiency</h6>
                            <h5 class="mb-0 font-weight-bolder text-white">84.50%</h5>
                        </div>
                        <div class="d-flex mt-2" style="height:130px">
                            <img src="@/assets/image 23.png" class="mt-auto" />
                            <img src="@/assets/image 19.png" class="my-auto" />
                            <img src="@/assets/image 20.png" class="mb-auto" />
                            <img src="@/assets/image 21.png" class="my-auto" />
                            <img src="@/assets/image 22 (2).png" class="mt-auto" />
                        </div>
                    </div>
                </swiper-slide> 
            </swiper>
        </div> -->
        
        <div class="px-4 pb-3">

            <div style="border: 1px solid #C4C4C4;border-radius: 10px;" class="p-2 mt-2 shadow-lg" v-if="chara_info">
                <h2 class="font-weight-bolder">Total Addition</h2>
                <div class="row">
                    <template v-for="stat in main_stats">
                        <div class="col-lg-6 pt-1" :key="stat['name']+'MAIN'">
                            <div class="d-flex align-items-center rounded-bottom justify-content-between">
                                <span class="d-flex">
                                    <img :src="stat['icon']" class="mr-1" style="filter:brightness(0);max-width:15px;max-height:15px;object-fit:cover" />
                                    <h6 class=" mb-0">{{stat['name']}}</h6>
                                </span>
                                <h6 class=" mb-0 font-weight-bolder">{{stat['value']}}</h6>
                            </div>
                        </div>
                    </template>
                </div>
            </div>

            <div class="mt-2 px-2" v-if="chara_artifacts">
                <h1 class="font-weight-bolder">Slots</h1>
                <div class="row mt-2" v-for="(arte,idx) in chara_artifacts" :key="idx+'arte'">
                    <div class="col-lg-7 d-flex" style="border-radius: 10px 0px 40px;background:linear-gradient(135deg, #A56D19 0%, #EB9F2C 100%);">
                        <div class="p-2 w-100 my-auto text-white position-relative" :style="``">
                            <div class="d-flex align-items-center">
                                <div class="d-flex align-items-center"><i class="bx bx-trophy mb-0 mr-1" style="font-size:18px" />
                                    <span>
                                        {{arte.ar_name}}
                                    </span> 
                                </div>
                                <!-- <i :class="`bx bx-lock bg-danger rounded-circle border-white ml-auto`" :style="`font-size:18px;padding:.2em`" /> -->
                            </div>
                            <div class="display-1 text-white font-weight-bolder position-absolute mt-1" style="z-index:1;opacity:.3;">+{{arte.lvl}}</div> 
                            <div class="h3 font-weight-bolder mt-1 text-white mb-0 position-relative">
                                {{arte.main_stat_label}}
                                <img :src="arte.ar_icon" style="max-width:130px;top:-10px;right:0px;z-index:1px" class="w-100 position-absolute" />
                            </div>
                            <div class="display-4 text-white mb-0 font-weight-bolder position-relative">
                                {{arte.main_stat}}
                            </div>
                            <div class="d-flex align-items-center justify-content-between flex-wrap">
                                <star-rating :class="`mr-auto`" :star-size="35" :show-rating="false" read-only :rating="arte.rarity" :max-rating="5" />
                                <b-button
                                    id="popover-button-default"
                                    class="d-flex align-items-center mt-1" style="z-index:9;background: rgba(255, 255, 255, 0.25) !important;border-radius:5px;cursor:pointer;border:none !important"
                                    variant="gradient-dark"
                                    size="sm"
                                >
                                        {{arte.arset_name}}
                                    <i class="ml-1 bx bx-info-circle" style="font-size:14px;cursor:pointer" />
                                </b-button>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="px-2 py-1 bg-white my-auto shadow-lg rounded-lg h-100 d-flex flex-column">
                            <span class="mb-1">
                                <template v-for="(item, i) in arte.sub_stat">
                                    <div :class="`d-flex align-items-center`" :style="`${i != 3 ? 'margin-bottom:.5em' : ''}`" :key="i+idx+'SUBSTAT'" v-if="item.key != ''">
                                        <span style="width:24px;height:24px;" class="d-flex rounded-lg text-white bg-secondary">
                                            <span class="m-auto" v-if="stat_tiers && stat_tiers[item.key] && stat_tiers[item.key][arte.rarity]">{{stat_tiers[item.key][arte.rarity][item.value]}}</span>
                                        </span> 
                                        <span class="mx-1 mr-auto text-secondary" v-if="statss[item.key]">{{statss[item.key].stat_name}}</span>
                                        <span class="font-weight-bold">{{item.value}}</span>
                                    </div>
                                </template>
                            </span>
                            <b-button class="rounded-pill mt-auto btn-block" variant="relief-secondary" @click="openModal(i)">
                                Switch
                            </b-button>
                        </div>
                    </div>
                </div>
            </div>

            <b-modal id="artifact-select" title="Artifact Selector" hide-footer centered size="lg">
                <template #modal-title>
                    <div class="d-flex align-items-center pt-1" style="gap:10px">
                        <img src="https://firebasestorage.googleapis.com/v0/b/teyvat-archive.appspot.com/o/Assets%2FArtifact.png?alt=media&token=5180bcdb-89ae-48ab-a2f1-05eda8eb2ce4" />
                        <div>
                            <h4 class="mb-0">Artifact Selector</h4>
                            <small>
                                Click artifact to select!
                            </small>
                        </div>
                    </div>
                </template>
                <div >
                    <div class="d-flex flex-column" style="max-height:650px">
                        <div class="mb-1">
                            <inventory-filter type="artifacts" @filtersSorts="filtersSorts" :setOptions="setOptions" :mainStatOptions="mainStatOptions" />
                        </div>
                        <inventory-container :currentFocus="currentFocus" :getNextDatas="getNextDatas" :onFocusCard="onFocusCard" :data_list="data_list" :page_type="'artifacts'" />
                    </div>
                </div>
            </b-modal>

        </div>
    </b-tab>
</template>

<script>

import {BTab, BButton, BModal} from 'bootstrap-vue'
import { Swiper, SwiperSlide } from 'vue-awesome-swiper'
import InventoryContainer from '../inventory/inventory-container.vue'
import InventoryFilter from '../inventory/inventory-filter.vue'
import store from '@/store'

import 'swiper/css/swiper.css'
import StarRating from 'vue-star-rating'

export default {
    props: {
        statss: {
            type: Object,
            default: () => {}
        },
        stat_tiers: {
            type: Object,
            default: () => {}
        },
        setOptions: {
            type: Array,
            default: () => []
        },
        mainStatOptions: {
            type: Array,
            default: () => []
        },
    },
    components: {
        BTab, BButton, Swiper, SwiperSlide, StarRating, BModal, InventoryContainer, InventoryFilter
    },
    computed: {
        chara_info: function(){
            return this.$store.state?.builds?.BUILD_STATE?.info
        },
        chara_weapon: function(){
            return this.$store.state?.builds?.BUILD_STATE?.weapon
        },
        chara_artifacts: function(){ 
            return this.$store.state?.builds?.BUILD_STATE?.artifact
        },
        main_stats: function(){
            let stats = this.stats.arte
            return [
                {name: 'ATK', value: stats['atk'], icon : 'https://firebasestorage.googleapis.com/v0/b/teyvat-archive.appspot.com/o/Assets%2FATK.png?alt=media&token=950ca120-c966-451e-9aa4-d943c1d26f70'},
                {name: 'ATK%', value: stats['atk_'].toFixed(2), icon : 'https://firebasestorage.googleapis.com/v0/b/teyvat-archive.appspot.com/o/Assets%2FATK.png?alt=media&token=950ca120-c966-451e-9aa4-d943c1d26f70'},
                {name: 'HP', value: stats['hp'], icon : 'https://firebasestorage.googleapis.com/v0/b/teyvat-archive.appspot.com/o/Assets%2FHP.png?alt=media&token=7aa154d3-4eee-4ec9-a207-5bf1c2687908'},
                {name: 'HP%', value: stats['hp_'].toFixed(2), icon : 'https://firebasestorage.googleapis.com/v0/b/teyvat-archive.appspot.com/o/Assets%2FHP.png?alt=media&token=7aa154d3-4eee-4ec9-a207-5bf1c2687908'},
                {name: 'DEF', value: stats['def'], icon : 'https://firebasestorage.googleapis.com/v0/b/teyvat-archive.appspot.com/o/Assets%2FShieldStr.png?alt=media&token=49363406-4ed3-4224-b06b-43753844b842'},
                {name: 'DEF', value: stats['def_'].toFixed(2), icon : 'https://firebasestorage.googleapis.com/v0/b/teyvat-archive.appspot.com/o/Assets%2FShieldStr.png?alt=media&token=49363406-4ed3-4224-b06b-43753844b842'},
                {name: 'Elemental Mastery', value: stats['eleMas'], icon : 'https://firebasestorage.googleapis.com/v0/b/teyvat-archive.appspot.com/o/Assets%2FEM.png?alt=media&token=30f11e5d-a8a5-470d-9114-8dbd7a4e9744'},
                {name: 'Crit Rate', value: stats['critRate_'].toFixed(2), icon : 'https://firebasestorage.googleapis.com/v0/b/teyvat-archive.appspot.com/o/Assets%2FCritDmg.png?alt=media&token=460d80df-ed02-4e0c-ab2f-30c7fa77dbfb'},
                {name: 'Crit Damage', value: stats['critDMG_'].toFixed(2), icon : 'https://firebasestorage.googleapis.com/v0/b/teyvat-archive.appspot.com/o/Assets%2FCritDmg.png?alt=media&token=460d80df-ed02-4e0c-ab2f-30c7fa77dbfb'},
                {name: 'Energy Recharge', value: stats['enerRech_'].toFixed(2), icon : 'https://firebasestorage.googleapis.com/v0/b/teyvat-archive.appspot.com/o/Assets%2FER.png?alt=media&token=4b62f6dd-276d-47d9-9f2e-e3fbf18be4c6'},
                {name: 'Healing Bonus', value: stats['heal_'].toFixed(2), icon : 'https://firebasestorage.googleapis.com/v0/b/teyvat-archive.appspot.com/o/Assets%2FHealBonus.png?alt=media&token=021a2e02-8148-48df-8689-5ba858795a28'},
                {name: 'Physical DMG Bonus', value: stats['physical_dmg_'].toFixed(2), icon : 'https://firebasestorage.googleapis.com/v0/b/teyvat-archive.appspot.com/o/Assets%2FSword.png?alt=media&token=ffdfeb77-cedb-4a13-b257-6dc3fe0e5ea6'},
                {name: 'Pyro DMG Bonus', value: stats['pyro_dmg_'].toFixed(2), icon : 'https://firebasestorage.googleapis.com/v0/b/teyvat-archive.appspot.com/o/Assets%2FPyro_Shadow.png?alt=media&token=de0b5019-8681-4fc1-bd07-aa3103d90712'},
                {name: 'Hydro DMG Bonus', value: stats['hydro_dmg_'].toFixed(2), icon : 'https://firebasestorage.googleapis.com/v0/b/teyvat-archive.appspot.com/o/Assets%2FHydro_Shadow.png?alt=media&token=a3bfa24a-52a1-4296-b433-ec6790833c81'},
                {name: 'Electro DMG Bonus', value: stats['electro_dmg_'].toFixed(2), icon : 'https://firebasestorage.googleapis.com/v0/b/teyvat-archive.appspot.com/o/Assets%2FElectro_Shadow.png?alt=media&token=1e5de044-1226-4231-94a0-c89c4055de29'},
                {name: 'Geo DMG Bonus', value: stats['geo_dmg_'].toFixed(2), icon : 'https://firebasestorage.googleapis.com/v0/b/teyvat-archive.appspot.com/o/Assets%2FGeo_Shadow.png?alt=media&token=d2414b61-fcfb-4bd0-af09-35be03ef5387'},
                {name: 'Anemo DMG Bonus', value: stats['anemo_dmg_'].toFixed(2), icon : 'https://firebasestorage.googleapis.com/v0/b/teyvat-archive.appspot.com/o/Assets%2FAnemo_Shadow.png?alt=media&token=7f089735-0f52-4d53-b58b-55bf423ce79b'},
                {name: 'Cryo DMG Bonus', value: stats['cryo_dmg_'].toFixed(2), icon : 'https://firebasestorage.googleapis.com/v0/b/teyvat-archive.appspot.com/o/Assets%2FCryo_Shadow.png?alt=media&token=c6335b31-a79a-4555-a87c-7e00232a7840'},
            ]
        },
    },
    watch: {
        chara_artifacts(newval){  
            if(newval){ 
                Object.entries(newval).map(arte => {
                    arte = arte[1]
                    if (arte.main_stat_key in this.stats.arte)
                        this.stats.arte[arte.main_stat_key] += parseFloat(arte.main_stat.replace("%", ""))
                    arte.sub_stat?.map(item => {
                        if (item.key in this.stats.arte)
                            this.stats.arte[item.key] += parseFloat(item.value)
                    })
                })
            }
        },
    },
    data(){
        return {
            swiperData: [
                { icon: 'GithubIcon', text: 'Getting Started' },
                { icon: 'FacebookIcon', text: 'Pricing & Plans' },
                { icon: 'TwitterIcon', text: 'Sales Question' },
                { icon: 'InstagramIcon', text: 'Usage Guides' },
                { icon: 'GitlabIcon', text: 'General Guide' },
            ],
            swiperOptions: {
                slidesPerView: 'auto',
                // centeredSlides: true,
                spaceBetween: 30, 
            },
            stats:{
                arte:{
                    'atk': 0,
                    'atk_':0,
                    'def':0,
                    'def_':0,
                    'hp':0,
                    'hp_':0,
                    'heal_':0,
                    'eleMas':0,
                    'enerRech_':0,
                    'critRate_':0,
                    'critDMG_':0, 
                    'physical_dmg_': 0,
                    'pyro_dmg_': 0,
                    'hydro_dmg_': 0,
                    'electro_dmg_': 0,
                    'geo_dmg_': 0,
                    'anemo_dmg_': 0,
                    'cryo_dmg_': 0,
                }, 
            }, 
            max_render: 20,
            editMode: true,
            page: 1,
            init: true,
            data_list: [],
            currentFocus: {}, 
            currentFocusParty: null,
            party: [null, null, null, null],
            edit: 0
        }
    },
    methods: {
        openModal(i){
            this.$bvModal.show('artifact-select')	
            this.edit = i
        },
        filtersSorts(filter, sort){
            this.filter = filter
            this.sort = sort
            this.data_list = []
            this.page = 1
            this.getNextDatas()
        },
        async getNextDatas(){
            let url = 'getArtifacts'

            let temp = await store.dispatch(`inventory/${url}`, {
                page: this.page,
                perPage: this.max_render, 
                ...this.filter,
                ...this.sort,
            }) 
            this.data_list = this.data_list ? this.data_list.concat(temp) : temp
            this.page = this.page + 1
            this.$forceUpdate()
            this.init = false
        },
        onSelectCharacter(i){
            this.currentFocusParty = i 
        },
        onFocusCard(data){
            this.$bvModal.hide('artifact-select') 
            this.party[this.edit] = data.data

            this.currentFocusParty = this.edit 
            this.page= 1
            this.init= true
            this.data_list= []
            this.currentFocus={}

            this.$forceUpdate()
        },
        resetParty(){
            this.page= 1
            this.init= true
            this.data_list= []
            this.currentFocus={}
            this.party = [null, null, null, null]
        }
    }
}
</script>