<template>
    <b-tab class="pb-2">
        <template #title>
            <img src="https://firebasestorage.googleapis.com/v0/b/teyvat-archive.appspot.com/o/Assets%2FFood.png?alt=media&token=c86f3351-0fa2-43c4-bb8d-1bd85293a549" />
            <span>Buffs</span>
        </template>

        <div class="px-4 pb-3 pt-1">
            <div style="border: 1px solid #C4C4C4;border-radius: 10px;" class="p-2 mt-2 shadow-lg">
                <h2 class="font-weight-bolder">Total Buff</h2>
                <div class="row ">
                    <div class="col-lg-6 pt-1" v-for="i in [1,2,3,4,5,6,7,8,9,0,10]" :key="i">
                        <div class="d-flex align-items-center rounded-bottom justify-content-between">
                            <h6 class=" mb-0">Crit Rate</h6>
                            <h6 class=" mb-0 font-weight-bolder">41.7%</h6>
                        </div>
                    </div>
                </div>
            </div>

            <h1 class="my-3 font-weight-bolder">Personal Buffs</h1>
                <div style="background: #EEE3CE;" class="rounded-lg card card-body">
                        <span class="d-flex align-items-center mb-2">
                            <img src="@/assets/image 10.png" style="max-width:70px" />
                            <div class="ml-1">
                                <h3 class="mb-0">Blackcliff Longsword</h3>
                                <!-- <h6>Normal/Charged Attack</h6> -->
                            </div>
                        </span>
                    
                    <div class="row">
                        <div class="col-lg-6">
                            <p>
                                After defeating an opponent, ATK is increased by 12% for 30s. This effect has a maximum of 3 stacks, and the duration of each stack is independent of the others.	
                            </p>
                        </div>
                        <div class="col-lg-6">
                            <h6><b>Plunging Attack</b> plunges from mid-air to strike the ground below, damaging enemies along the path and dealing AOE DMG upon impact.</h6>
                            <div class="mb-1">
                                <div class="px-1 d-flex align-items-center rounded-top mt-1" style="background: rgba(0, 0, 0, 0.2);padding:.5em 0">
                                    <h6 class="text-white mb-0 font-weight-bolder">Main Stat</h6>
                                </div> 
                                <div class="px-1 d-flex align-items-center justify-content-between" style="background: rgba(0, 0, 0, 0.1);padding:.5em 0">
                                    <h6 class="text-white mb-0">Total ATK</h6>
                                    <h6 class="text-white mb-0">1789</h6>
                                </div>
                                <div class="px-1 d-flex align-items-center rounded-bottom justify-content-between" style="background: rgba(0, 0, 0, 0.2);padding:.5em 0">
                                    <h6 class="text-white mb-0">Crit Rate</h6>
                                    <h6 class="text-white mb-0">41.7%</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 

            <h1 class="my-3 font-weight-bolder">Party Buffs</h1>
                <div style="background: #EEE3CE;" class="rounded-lg card card-body">
                    <div class="d-flex align-items-center justify-content-between mb-2">
                        <span class="d-flex align-items-center">
                            <img src="@/assets/image 10.png" style="max-width:70px" />
                            <div class="ml-1">
                                <h3 class="mb-0">Blackcliff Longsword</h3>
                            </div>
                        </span>
                        <img src="@/assets/ayaka_big_icon.png" style="max-width:50px" />
                    </div>
                    
                    <div class="row">
                        <div class="col-lg-6">
                            <p>
                                After defeating an opponent, ATK is increased by 12% for 30s. This effect has a maximum of 3 stacks, and the duration of each stack is independent of the others.	
                            </p>
                        </div>
                        <div class="col-lg-6">
                            <h6><b>Plunging Attack</b> plunges from mid-air to strike the ground below, damaging enemies along the path and dealing AOE DMG upon impact.</h6>
                            <div class="mb-1">
                                <div class="px-1 d-flex align-items-center rounded-top mt-1" style="background: rgba(0, 0, 0, 0.2);padding:.5em 0">
                                    <h6 class="text-white mb-0 font-weight-bolder">Main Stat</h6>
                                </div> 
                                <div class="px-1 d-flex align-items-center justify-content-between" style="background: rgba(0, 0, 0, 0.1);padding:.5em 0">
                                    <h6 class="text-white mb-0">Total ATK</h6>
                                    <h6 class="text-white mb-0">1789</h6>
                                </div>
                                <div class="px-1 d-flex align-items-center rounded-bottom justify-content-between" style="background: rgba(0, 0, 0, 0.2);padding:.5em 0">
                                    <h6 class="text-white mb-0">Crit Rate</h6>
                                    <h6 class="text-white mb-0">41.7%</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
        </div>

    </b-tab>
</template>

<script>

import {BTab} from 'bootstrap-vue'

export default {
    components: {
        BTab
    }
}
</script>