<template>
    <b-tab class="">
        <template #title>
            <img src="https://firebasestorage.googleapis.com/v0/b/teyvat-archive.appspot.com/o/Assets%2FCharacter.png?alt=media&token=1838dfcf-4c23-4417-b88c-c261dd24929a" />
            <span>Character</span>
        </template>
        
        <div class="px-4 pb-3 pt-1">
            <div class="d-flex align-items-center" style="gap:15px" v-if="chara_info">
                <img :src="chara_info.chara_image" />
                <div class="">
                    <div class="d-flex align-items-center" style="gap:10px">
                        <h1 class="mb-0 font-weight-bolder">{{chara_info.chara_name}}</h1>
                        <img :src="chara_info.element_image" />
                        <img :src="chara_info.weapon_type_image" />
                    </div>
                    <h3 class="h2">Lv. {{chara_info.lvl}} / {{chara_info.chara_max_level}}</h3>
                    <star-rating class="m-auto" :star-size="30" :size="30" :show-rating="false" read-only 
                        :rating="chara_info.chara_rarity" :max-rating="5" 
                    />
                </div>
            </div>

            <!-- WEAPON -->
            <div class="p-2 mt-2 shadow-lg" v-if="chara_weapon" :style="`
                background: ${colors[chara_weapon.wp_rarity]};
                border-radius: 10px;
            `">

                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="d-flex align-items-center" style="gap:20px">
                            <star-rating class="" :star-size="24" :size="30" :show-rating="false" read-only 
                                :rating="chara_weapon.wp_rarity" :max-rating="5" 
                            />
                            <h4 class="text-white mb-0">{{chara_weapon.wp_name}}</h4>
                        </div>

                        <div class="d-flex flex-wrap align-items-center mt-1" style="gap:20px">
                            <h1 class="font-weight-bolder text-white mb-0">Lv. {{chara_weapon.weap_level}} / {{chara_weapon.wpa_max_level}}</h1>
                            <h5 class="mb-0 text-white">Refinement {{chara_weapon.weap_refinement}}</h5>
                        </div>

                        <div class="p-1 d-flex align-items-center rounded-top mt-1" style="background: rgba(0, 0, 0, 0.2);">
                            <h6 class="text-white mb-0 font-weight-bolder">Main Stat</h6>
                        </div> 
                        <div class="p-1 d-flex align-items-center justify-content-between" style="background: rgba(0, 0, 0, 0.1);">
                            <h6 class="text-white mb-0">Base ATK</h6>
                            <h6 class="text-white mb-0">{{chara_weapon.wpmsp_progression}}</h6>
                        </div>
                        <div class="p-1 d-flex align-items-center rounded-bottom justify-content-between" style="background: rgba(0, 0, 0, 0.2);">
                            <h6 class="text-white mb-0">{{chara_weapon.stat_name}}</h6>
                            <h6 class="text-white mb-0">{{chara_weapon.wpsp_value}} {{chara_weapon.stat_key.includes('_') ? '%' : ''}}</h6>
                        </div>
                    </div>
                    <div class="col-lg-6 d-flex">
                        <img :src="chara_weapon.wp_icon" style="" class="h-100 m-auto" />
                    </div>
                </div>

                <label class="mt-1 h5 text-white font-weight-bolder">{{chara_weapon.wpr_name}}</label>
                <p class="text-white">
                    {{chara_weapon.wpr_description}}
                </p>

                <div class="d-flex">
                    <button style="background: rgba(255, 255, 255, 0.25); color:white" class="btn ml-auto">Swap Weapon</button>
                </div>

            </div>
            <!-- END WEAPON -->  

            <!-- MAIN STAT -->
            <div style="border: 1px solid #C4C4C4;border-radius: 10px;" class="p-2 mt-2 shadow-lg" v-if="chara_info">
                <h2 class="font-weight-bolder">Main Stat</h2>
                <div class="row">
                    <div class="col-lg-6 pt-1" v-for="stat in main_stats" :key="stat['name']+'MAIN'">
                        <div class="d-flex align-items-center rounded-bottom justify-content-between">
                            <span class="d-flex">
                                <img :src="stat['icon']" class="mr-1" style="filter:brightness(0);max-width:15px;max-height:15px;object-fit:cover" />
                                <h6 class=" mb-0">{{stat['name']}}</h6>
                            </span>
                            <h6 class=" mb-0 font-weight-bolder">{{stat['value']}}</h6>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END MAIN STAT --> 
        </div>
    </b-tab>
</template>

<script>

import {BTab} from 'bootstrap-vue'
import StarRating from 'vue-star-rating'

export default {
    components: {
        BTab, StarRating
    },
    computed: {
        chara_info: function(){
            return this.$store.state?.builds?.BUILD_STATE?.info
        },
        chara_weapon: function(){
            return this.$store.state?.builds?.BUILD_STATE?.weapon
        },
        chara_artifacts: function(){ 
            return this.$store.state?.builds?.BUILD_STATE?.artifact
        },
        main_stats: function(){
            let atk = this.chara_info?.stat_min_atk + this.chara_weapon?.wpmsp_progression  
            atk = atk * ( this.stats.chara['atk_'] + this.stats.weapon['atk_'] + this.stats.arte['atk_'] ) / 100 
            atk = atk + this.stats.chara['atk'] + this.stats.weapon['atk'] + this.stats.arte['atk']

            let hp = this.chara_info?.stat_min_hp 
            hp = hp * ( this.stats.chara['hp_'] + this.stats.weapon['hp_'] + this.stats.arte['hp_'] ) / 100 
            hp = hp + this.stats.chara['hp'] + this.stats.weapon['hp'] + this.stats.arte['hp']

            let def = this.chara_info?.stat_min_def 
            def = def * ( this.stats.chara['def_'] + this.stats.weapon['def_'] + this.stats.arte['def_'] ) / 100
            def = def + this.stats.chara['def'] + this.stats.weapon['def'] + this.stats.arte['def']

            let eleMas = this.stats.chara['eleMas'] + this.stats.weapon['eleMas'] + this.stats.arte['eleMas']
            let critRate_ = this.stats.chara['critRate_'] + this.stats.weapon['critRate_'] + this.stats.arte['critRate_']
            let critDMG_ = this.stats.chara['critDMG_'] + this.stats.weapon['critDMG_'] + this.stats.arte['critDMG_']
            let enerRech_ = this.stats.chara['enerRech_'] + this.stats.weapon['enerRech_'] + this.stats.arte['enerRech_']
            let heal_ = this.stats.chara['heal_'] + this.stats.weapon['heal_'] + this.stats.arte['heal_']

            return [
                {name: 'ATK', value: atk.toFixed(0), icon : 'https://firebasestorage.googleapis.com/v0/b/teyvat-archive.appspot.com/o/Assets%2FATK.png?alt=media&token=950ca120-c966-451e-9aa4-d943c1d26f70'},
                {name: 'HP', value: hp.toFixed(0), icon : 'https://firebasestorage.googleapis.com/v0/b/teyvat-archive.appspot.com/o/Assets%2FHP.png?alt=media&token=7aa154d3-4eee-4ec9-a207-5bf1c2687908'},
                {name: 'DEF', value: def.toFixed(0), icon : 'https://firebasestorage.googleapis.com/v0/b/teyvat-archive.appspot.com/o/Assets%2FShieldStr.png?alt=media&token=49363406-4ed3-4224-b06b-43753844b842'},
                {name: 'Elemental Mastery', value: eleMas.toFixed(0), icon : 'https://firebasestorage.googleapis.com/v0/b/teyvat-archive.appspot.com/o/Assets%2FEM.png?alt=media&token=30f11e5d-a8a5-470d-9114-8dbd7a4e9744'},
                {name: 'Crit Rate', value: critRate_.toFixed(2), icon : 'https://firebasestorage.googleapis.com/v0/b/teyvat-archive.appspot.com/o/Assets%2FCritDmg.png?alt=media&token=460d80df-ed02-4e0c-ab2f-30c7fa77dbfb'},
                {name: 'Crit Damage', value: critDMG_.toFixed(2), icon : 'https://firebasestorage.googleapis.com/v0/b/teyvat-archive.appspot.com/o/Assets%2FCritDmg.png?alt=media&token=460d80df-ed02-4e0c-ab2f-30c7fa77dbfb'},
                {name: 'Energy Recharge', value: enerRech_.toFixed(2), icon : 'https://firebasestorage.googleapis.com/v0/b/teyvat-archive.appspot.com/o/Assets%2FER.png?alt=media&token=4b62f6dd-276d-47d9-9f2e-e3fbf18be4c6'},
                {name: 'Healing Bonus', value: heal_.toFixed(2), icon : 'https://firebasestorage.googleapis.com/v0/b/teyvat-archive.appspot.com/o/Assets%2FHealBonus.png?alt=media&token=021a2e02-8148-48df-8689-5ba858795a28'}
            ]
        },
    },
    watch: {    
        chara_artifacts(newval){  
            if(newval){
                Object.entries(newval).map(arte => {
                    arte = arte[1]
                    if (arte.main_stat_key in this.stats.arte)
                        this.stats.arte[arte.main_stat_key] += parseFloat(arte.main_stat.replace("%", ""))
                    arte.sub_stat?.map(item => {
                        if (item.key in this.stats.arte)
                            this.stats.arte[item.key] += parseFloat(item.value)
                    })
                })
            }
        },
        chara_weapon(newval){
            if(newval){  
                if (newval.wp_substat_stat_key in this.stats.weapon)
                    this.stats.weapon[newval.wp_substat_stat_key] += parseFloat(newval.wpsp_value)
            }
        },
        chara_info(newval){
            this.stats = {
                arte:{
                    'atk': 0,
                    'atk_':0,
                    'def':0,
                    'def_':0,
                    'hp':0,
                    'hp_':0,
                    'heal_':0,
                    'eleMas':0,
                    'enerRech_':0,
                    'critRate_':0,
                    'critDMG_':0, 
                },
                weapon:{
                    'atk': 0,
                    'atk_':0,
                    'def':0,
                    'def_':0,
                    'hp':0,
                    'hp_':0,
                    'heal_':0,
                    'eleMas':0,
                    'enerRech_':0,
                    'critRate_':0,
                    'critDMG_':0, 
                },
                chara:{
                    'atk': 0,
                    'atk_':100,
                    'def':0,
                    'def_':100,
                    'hp':0,
                    'hp_':100,
                    'heal_':0,
                    'eleMas':0,
                    'enerRech_':100,
                    'critRate_':5,
                    'critDMG_':50, 
                },
            }
            if(newval){
                if (newval.bonus_attribute in this.stats.chara)
                    this.stats.chara[newval.bonus_attribute] += parseFloat(newval.bonus_attribute_value)
            }
        }
    },
    data(){
        return {
            colors: {
                5: 'linear-gradient(135deg, #A56D19 0%, #EB9F2C 100%)',
                4: 'linear-gradient(135deg, #7F5794 0%, #AD7CC7 100%)',
                3: 'linear-gradient(135deg, #427EA2 0%, #59A4D1 100%)',
            }, 
            stats:{
                arte:{
                    'atk': 0,
                    'atk_':0,
                    'def':0,
                    'def_':0,
                    'hp':0,
                    'hp_':0,
                    'heal_':0,
                    'eleMas':0,
                    'enerRech_':0,
                    'critRate_':0,
                    'critDMG_':0, 
                },
                weapon:{
                    'atk': 0,
                    'atk_':0,
                    'def':0,
                    'def_':0,
                    'hp':0,
                    'hp_':0,
                    'heal_':0,
                    'eleMas':0,
                    'enerRech_':0,
                    'critRate_':0,
                    'critDMG_':0, 
                },
                chara:{
                    'atk': 0,
                    'atk_':100,
                    'def':0,
                    'def_':100,
                    'hp':0,
                    'hp_':100,
                    'heal_':0,
                    'eleMas':0,
                    'enerRech_':100,
                    'critRate_':5,
                    'critDMG_':50, 
                },
            }
        }
    }
}
</script>