<template>
<div>
    <div class="w-100" style="max-height:100vh;overflow-y:scroll;">
        <navbar fixed />
        <div class="d-flex flex-column align-items-center justify-content-end w-100 position-relative h-100 pb-2" style="margin-top:4em">
            <div class="w-100" >
                <div class="container px-3 " style="padding:0em 20%">
                    <div class="w-100 text-center mb-3" id="inventory-title">
                        <span class="display-4 font-weight-bolder text-white">Builds</span>
                    </div>  
                    <party-selector @onSelectCharacter="changeFocusParty" />
                    <div class="card" style="border-radius:15px">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-lg-auto">
                                    <label class="h3 font-weight-bolder mb-0">Hit Mode</label>
                                </div>
                                <div class="col-lg-auto">
                                    <b-form-radio-group 
                                        v-model="selected"
                                        :options="options" 
                                        button-variant="light" 
                                        buttons
                                    ></b-form-radio-group> 
                                </div>
                                <div class="col-lg-auto flex-fill">  
                                    <v-select class="w-100" v-model="dropdown1" :options="artifact_types" >  </v-select> 
                                </div>
                                <div class="col-lg-auto flex-fill">
                                    <v-select class="w-100" v-model="dropdown2" :options="artifact_types" >  </v-select> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card" style="border-radius:15px">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-lg-auto">
                                    <label class="h3 font-weight-bolder mb-0">Transformative Reaction</label>
                                </div>
                                <div class="col-lg-auto">
                                    <button class="btn btn-light">
                                        Superconduct <strong class="ml-1">2183</strong>
                                    </button>
                                </div>
                                <div class="col-lg-auto">
                                    <button class="btn btn-light">
                                        Shattered <strong class="ml-1">3637</strong>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="card" style="border-radius:20px">
                                <div class="">
                                    <b-tabs fill pills>
                                        <!-- CHARACTER -->
                                        <character-tab />
                                        <!-- END CHARACTER TAB -->
                                        <!-- START ARTIFACT TAB -->
                                        <artifacts-tab :stat_tiers="stat_tiers" :statss="stats" :setOptions="sets" :mainStatOptions="rawStats" />
                                        <!-- END ARTIFACT TAB -->
                                        <!-- START TALENT TAB -->
                                        <talent-tab />
                                        <!-- END TALENT TAB -->
                                        <!-- START BUFF TAB -->
                                        <buff-tab />
                                        <!-- END BUFF TAB -->
                                    </b-tabs>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <side-info />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <Footer />
    </div>
    
    <img class="w-100 h-100 position-absolute" style="background:#B24DF9;object-fit:cover;top:0;z-index:-1;filter:brightness(50%)" />
</div>
</template>

<script>  
import StarRating from 'vue-star-rating'
import {BFormGroup, BFormRadioGroup, BInputGroup, BInputGroupPrepend, BFormInput,BTabs, BTab, BButton } from 'bootstrap-vue'
import Navbar from '../components/navbar.vue'
import vSelect from "vue-select"; 
import CardChara from '../components/card-chara.vue'
import AppCollapse from '@core/components/app-collapse/AppCollapse.vue'
import AppCollapseItem from '@core/components/app-collapse/AppCollapseItem.vue'
import { Swiper, SwiperSlide } from 'vue-awesome-swiper'
import 'swiper/css/swiper.css'

import CharacterTab from './characters.vue'
import ArtifactsTab from './artifacts.vue'
import TalentTab from './talents.vue'
import BuffTab from './buffs.vue'
import SideInfo from './sideinfo.vue'
import PartySelector from './party-selector.vue'
import Footer from '@/components/footer.vue'

import store from '@/store'

export default {
    props: {
        datas: {
            type: Array,
            default: () => []
        },
    },
    components: { 
        BFormGroup, BFormRadioGroup,  BInputGroup, BInputGroupPrepend, BFormInput,CardChara, BTabs, BTab,
        Navbar,vSelect,StarRating,AppCollapse, AppCollapseItem, Swiper, SwiperSlide, BButton,
        CharacterTab, ArtifactsTab, TalentTab, BuffTab, SideInfo, Footer,
        PartySelector
    },
    data(){
        return {
            selected: 'radio1',
            dropdown1: 'No External Infusion' ,
            dropdown2: 'No Reactions' ,
            options: [
                { text: 'Avg. DMG', value: 'avg' },
                { text: 'Non-Crit DMG', value: 'radio2' },
                { text: 'Crit DMG', value: 'radio3' },
            ],
            options2: [
                { text: 'All C', value: 'all' },
                { text: 'C0', value: 'radio2' },
                { text: 'C6', value: 'radio3' }, 
            ],
            artifact_types: [ 
                'No External Infusion',
                'No Reactions',
            ],
            stats: {}, 
            stat_tiers: {},
            rawStats: [],
            sets: []
        }
    },
    watch: { 
    },
    methods:{  
        async changeFocusParty(chara){
            await store.dispatch(`builds/getCharacterInfo`, {
                chara_key : chara?.chara_key
            }) 
            await store.dispatch(`builds/getCharacterWeapon`, {
                chara_key : chara?.chara_key
            }) 
            await store.dispatch('builds/getCharacterArtifact', {
                location: chara?.chara_key
            })
            await store.dispatch('stats/getAll')
            let stats = store.getters['stats/reducedFormat']
            this.stats = stats  
            this.rawStats = store.getters['stats/getRaw']
            await store.dispatch('artifact_sub_stat_tier/getForInventory')
            let tier = store.getters['artifact_sub_stat_tier/reducedFormat']
            this.stat_tiers = tier 
            await store.dispatch('artifact_set/getAll')
            let sets = store.getters['artifact_set/dt']
            this.sets = sets
        }
    },  
    mounted(){ 
        store.dispatch('builds/resetState')
        store.dispatch('inventory/resetState')
    }
}
</script> 

<style >
    .image-upcoming {
        top:0;z-index:-1;right:0 !important; 
        -webkit-mask-image: linear-gradient(to right, transparent 10%, black 75%);
        mask-image: linear-gradient(to right, transparent 10%, black 75%);
    } 
    ::-webkit-scrollbar {
        height: 0px;              /* height of horizontal scrollbar ← You're missing this */
        width: 0px;               /* width of vertical scrollbar */
        border: unset;
    }
    .card {
        margin-top: -1em !important;
    }
    .nav-pills .nav-link:first-of-type {
        border-radius: 20px 20px 0 0 !important;
    }
    .nav-pills .nav-link {
        background: #F1F1F1 !important;
        border-radius: 0;
        padding:2em 1em;
    }
    .nav-pills .nav-link.active {
        padding:2em 1em;
        border-radius: 0;
        border: unset;
        box-shadow: unset;
        color: black;
        background: white !important;
    }
</style>
