<template>
    <div class="card" style="border-radius:15px">
        <div class="card-body"> 
            <div class="row">
                <div class="col-lg-auto">
                    <label class="h3 font-weight-bolder">Party</label>
                </div>
                <div class="col-lg-6 d-flex position-relative" style="gap:15px">
                    <template v-for="(chara,i) in party">
                        <div @click="openModal(i)" :key="i+'NOTSELECTEDPARTY'" v-if="!chara" class="d-flex flex-fill shadow h-100 w-25 not-selected-party">
                            <i class="fa fa-plus m-auto" style="font-size:42px;color:#EEE3CE" />
                        </div>
                        <span v-else :key="chara.character_key">
                            <inventory-card type="characters" :id="i+'CARD'" :key="i+'CARD'" :data="chara" :index="i" 
                                @focus="editMode ? openModal(i) : onSelectCharacter(i)" 
                                :isActive="i == currentFocusParty" />
                        </span>
                    </template>
                </div>
                <div class="col-lg d-flex flex-column justify-content-center" style="gap:10px">
                    <div class="rounded d-flex align-items-center" style="
                        border: 2px solid #C4C4C4;padding:.5em;box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.15);
                        background:linear-gradient(90deg, #59A4D1 3.7%, rgba(89, 164, 209, 0) 50%), #F2F2F2
                        ">
                        <div class="mr-auto">
                            <img src="@/assets/cryo_small.png" class="w-100" style="max-width:20px;mix-blend-mode: difference;" />
                            <img src="@/assets/cryo_small.png" class="w-100" style="max-width:20px;mix-blend-mode: difference;" />
                        </div>
                        <div class="">
                            <label class="font-weight-bolder h4 mb-0">Shatering Ice</label>
                        </div>
                    </div>
                    <div class="rounded d-flex align-items-center" style="
                        border: 2px solid #C4C4C4;padding:.5em;box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.15);
                        background:linear-gradient(90deg, #64B991 3.7%, rgba(100, 185, 145, 0) 50%), #F2F2F2
                        ">
                        <div class="mr-auto">
                            <img src="@/assets/cryo_small.png" class="w-100" style="max-width:20px;mix-blend-mode: difference;" />
                            <img src="@/assets/cryo_small.png" class="w-100" style="max-width:20px;mix-blend-mode: difference;" />
                            <img src="@/assets/cryo_small.png" class="w-100" style="max-width:20px;mix-blend-mode: difference;" />
                            <img src="@/assets/cryo_small.png" class="w-100" style="max-width:20px;mix-blend-mode: difference;" />
                            <img src="@/assets/cryo_small.png" class="w-100" style="max-width:20px;mix-blend-mode: difference;" />
                            <img src="@/assets/cryo_small.png" class="w-100" style="max-width:20px;mix-blend-mode: difference;" />
                        </div>
                        <div class="">
                            <label class="font-weight-bolder h4 mb-0">Protective Canopy</label>
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-relief-info" @click="editMode = true" v-if="!editMode">Edit Party</button>
                        <button class="btn btn-relief-success" @click="editMode = false" v-else>Save Party</button>
                        <button class="btn btn-flat-danger ml-1" @click="resetParty()">Reset</button>
                    </div>
                </div>
            </div> 
        </div>

        <b-modal id="party-select" title="Party Selector" hide-footer centered size="lg">
            <template #modal-title>
                <div class="d-flex align-items-center pt-1" style="gap:10px">
                    <img src="https://firebasestorage.googleapis.com/v0/b/teyvat-archive.appspot.com/o/Assets%2FCharacter.png?alt=media&token=1838dfcf-4c23-4417-b88c-c261dd24929a" />
                    <div>
                        <h4 class="mb-0">Party Selector</h4>
                        <small>
                            Click character to add to party!
                        </small>
                    </div>
                </div>
            </template>
            <div >
                <div class="d-flex flex-column" style="max-height:650px">
                    <div class="mb-1">
                        <inventory-filter type="characters" @filtersSorts="filtersSorts" />
                    </div>
                    <inventory-container :currentFocus="currentFocus" :getNextDatas="getNextDatas" :onFocusCard="onFocusCard" :data_list="data_list" :page_type="'characters'" />
                </div>
            </div>
        </b-modal>

    </div> 
</template>

<script>

import {BModal} from 'bootstrap-vue'
import InventoryContainer from '../inventory/inventory-container.vue'
import InventoryCard from '../inventory/inventory-card.vue'
import InventoryFilter from '../inventory/inventory-filter.vue'
import store from '@/store'

export default {
    components: {
        BModal, InventoryContainer, InventoryCard, InventoryFilter
    },
    methods: {
        openModal(i){
            this.$bvModal.show('party-select')	
            this.edit = i
        },
        filtersSorts(filter, sort){
            this.filter = filter
            this.sort = sort
            this.data_list = []
            this.page = 1
            this.getNextDatas()
        },
        async getNextDatas(){
            let url = 'getCharacters'

            let temp = await store.dispatch(`inventory/${url}`, {
                page: this.page,
                perPage: this.max_render,
                isNotChara : this.party.filter(item => !!item).map(item => {
                    return item.chara_key
                })?.join(','),
                ...this.filter,
                ...this.sort,
            }) 
            this.data_list = this.data_list ? this.data_list.concat(temp) : temp
            this.page = this.page + 1
            this.$forceUpdate()
            this.init = false
        },
        onSelectCharacter(i){
            this.currentFocusParty = i
            this.$emit('onSelectCharacter', this.party[i])
        },
        onFocusCard(data){
            this.$bvModal.hide('party-select') 
            this.party[this.edit] = data.data

            this.currentFocusParty = this.edit
            this.$emit('onSelectCharacter', data.data)
            this.page= 1
            this.init= true
            this.data_list= []
            this.currentFocus={}

            this.$forceUpdate()
        },
        resetParty(){
            this.page= 1
            this.init= true
            this.data_list= []
            this.currentFocus={}
            this.party = [null, null, null, null]
        }
    },
    watch: {
        data_list(newVal){
            if(newVal.length > 0){
                this.currentFocus = {
                    data: newVal[0],
                    index: 0
                }
                this.$forceUpdate()
            } else {
                this.currentFocus = {}
            }
        }, 
    },
    data(){
        return {
            max_render: 20,
            editMode: true,
            page: 1,
            init: true,
            data_list: [],
            currentFocus: {}, 
            currentFocusParty: null,
            party: [null, null, null, null],
            edit: 0
        }
    }
}
</script>

<style scoped>
    .not-selected-party {
        height:185px;border: 8px solid #EEE3CE; border-radius:25px;
    }
    .not-selected-party:hover {
        background: #F2F2F2;
        cursor: pointer;
    }
</style>