<template>
    <div class="card">
        <div class="card-body">
            <div style="" class="">
                <h2 class="font-weight-bolder">Total Buff</h2>
                <div class="row ">
                    <div class="col-lg-12 pt-1" v-for="i in [1,2,3,4,5,6,7,8,9,0,10]" :key="i">
                        <div class="d-flex align-items-center rounded-bottom justify-content-between">
                            <h6 class=" mb-0">Crit Rate</h6>
                            <h6 class=" mb-0 font-weight-bolder">41.7%</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</template>

<script>
export default {
    
}
</script>