<template>
    <b-tab>
        <template #title>
            <img src="https://firebasestorage.googleapis.com/v0/b/teyvat-archive.appspot.com/o/Assets%2FWeapon.png?alt=media&token=5f498806-0d3f-4cb5-a1b6-afeae9a02b66" />
            <span>Talents</span>
        </template>

        <div class="px-4 pb-3">

            <app-collapse class="mt-3">
                <app-collapse-item style="background: #EEE3CE;" class="rounded-lg">
                    <template #header>
                        <span class="d-flex align-items-center">
                            <img src="@/assets/sword_small.png" style="max-width:70px" />
                            <div class="ml-1">
                                <h3 class="mb-0">Yunlai Swordmanship</h3>
                                <h6>Normal/Charged Attack</h6>
                            </div>
                        </span>
                    </template>
                    
                    <div class="row">
                        <div class="col-lg-6">
                            <h6><b>Normal Attack</b> perform up to 5 rapid strikes.</h6>
                            <div class="mb-1">
                                <div class="px-1 d-flex align-items-center rounded-top mt-1" style="background: rgba(0, 0, 0, 0.2);padding:.5em 0">
                                    <h6 class="text-white mb-0 font-weight-bolder">Main Stat</h6>
                                </div> 
                                <div class="px-1 d-flex align-items-center justify-content-between" style="background: rgba(0, 0, 0, 0.1);padding:.5em 0">
                                    <h6 class="text-white mb-0">Total ATK</h6>
                                    <h6 class="text-white mb-0">1789</h6>
                                </div>
                                <div class="px-1 d-flex align-items-center rounded-bottom justify-content-between" style="background: rgba(0, 0, 0, 0.2);padding:.5em 0">
                                    <h6 class="text-white mb-0">Crit Rate</h6>
                                    <h6 class="text-white mb-0">41.7%</h6>
                                </div>
                            </div>
                            <h6><b>Charged Attack</b> consumes a certain amount of Stamina to unleash 2 rapid sword strikes.</h6>
                            <div class="mb-1">
                                <div class="px-1 d-flex align-items-center rounded-top mt-1" style="background: rgba(0, 0, 0, 0.2);padding:.5em 0">
                                    <h6 class="text-white mb-0 font-weight-bolder">Main Stat</h6>
                                </div> 
                                <div class="px-1 d-flex align-items-center justify-content-between" style="background: rgba(0, 0, 0, 0.1);padding:.5em 0">
                                    <h6 class="text-white mb-0">Total ATK</h6>
                                    <h6 class="text-white mb-0">1789</h6>
                                </div>
                                <div class="px-1 d-flex align-items-center rounded-bottom justify-content-between" style="background: rgba(0, 0, 0, 0.2);padding:.5em 0">
                                    <h6 class="text-white mb-0">Crit Rate</h6>
                                    <h6 class="text-white mb-0">41.7%</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <h6><b>Plunging Attack</b> plunges from mid-air to strike the ground below, damaging enemies along the path and dealing AOE DMG upon impact.</h6>
                            <div class="mb-1">
                                <div class="px-1 d-flex align-items-center rounded-top mt-1" style="background: rgba(0, 0, 0, 0.2);padding:.5em 0">
                                    <h6 class="text-white mb-0 font-weight-bolder">Main Stat</h6>
                                </div> 
                                <div class="px-1 d-flex align-items-center justify-content-between" style="background: rgba(0, 0, 0, 0.1);padding:.5em 0">
                                    <h6 class="text-white mb-0">Total ATK</h6>
                                    <h6 class="text-white mb-0">1789</h6>
                                </div>
                                <div class="px-1 d-flex align-items-center rounded-bottom justify-content-between" style="background: rgba(0, 0, 0, 0.2);padding:.5em 0">
                                    <h6 class="text-white mb-0">Crit Rate</h6>
                                    <h6 class="text-white mb-0">41.7%</h6>
                                </div>
                            </div>
                        </div>
                    </div>

                </app-collapse-item> 
            </app-collapse>

        </div>
    </b-tab>
</template>

<script>


import {BTab} from 'bootstrap-vue'
import AppCollapse from '@core/components/app-collapse/AppCollapse.vue'
import AppCollapseItem from '@core/components/app-collapse/AppCollapseItem.vue'

export default {
    components: {
        AppCollapse, BTab,
        AppCollapseItem
    }
}
</script>